      <div class="row careers justify-content-center custom">
        <h1 class="text-center heading1 init">Careers</h1>
        <div class="w-100"></div>
        <div class="col-sum-12">
          <div class="careers-head-line">
            <p class="text-center sub-heading-2-grey">
              We seek the top talent on the planet.
              We’re looking for people who are ambitious,
              highly talented, creative and perfectionists.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="venn-wrapper">
            <button class="venn venn1">
              Design
            </button>
            <button class="venn venn2">
              Technology
            </button>
            <button class="venn venn3">
              Marketing
            </button>
          </div>
          <div class="w-100"></div>
        </div>
        <div class="col-sm-6 col-md-6 careers-text">
          <div class="vertical-separator"></div>
          <h2 class="text-center sub-heading sub-heading-padding">Interested in working with us?</h2>
          <p class="content1 text-center">
            Send us your CV explaining why you’d be great for the role. We value your unique talents and point of view, so feel free to tell us what you are all about. If you have an online presence (blog, Twitter, Facebook), send it along.
          </p>
          <p class="text-center sub-heading-2-grey">Email at <a class="a-link-color" href="mailto:hello@socksoho.com">hello@socksoho.com</a></p>
        </div>
      </div>
