.careers{
  padding-bottom: 70px;
}

.careers .heading1 {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  padding-top: 10vh;
  font-weight: lighter;
  margin-bottom: 0px;
}

.careers .sub-heading {
  color: #333333;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 0px;
}

.careers .custom {
  padding: 50px;
}

.vertical-separator {
    position: absolute;
    height: 90%;
    width: 1px;
    background: #eee;
}

.careers-text {
  padding: 10px 25px 25px;
}

.careers p{
  padding: 50px 50px 0px;
}

.less-margin {
  margin-bottom: 1rem;
}

.venn-wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

button.venn {
  border: 0;
}

.careers-head-line{
  margin-bottom: 70px;
}

.venn {
  background: rgba(101, 197, 177,.6)!important;;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  color: #777272!important;
}

.venn p {
  margin-top: 40%;
  margin-left: 35%;
}

.venn1 {
  left: 5%;
  z-index: 3;
}

.venn1:hover, .venn2:hover, .venn3:hover{
  z-index: 4;
  background: rgba(22,28,31,.95)!important;
  color: #fff!important;
}

.venn2 {
  left: 45%;
  background: rgba(238, 121, 120, .6)!important;
}

.venn3 {
  top: 35%;
  left: 25%;
  background: rgba(112, 129, 165, .6)!important;
}

@media (max-width: 575.98px) {

  .venn-wrapper {
    width: 200px;
    height: 200px;
  }

  .venn-wrapper button {
    font-size: .75rem !important;
  }

  .venn {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .careers .heading1 {
    padding-top: 5vh !important;
  }
}
