.cart-wrapper {
    padding: 3rem 0 5rem;
}

.cart-wrapper .c-custom {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.link-custom{
  color:rgb(80,80,80);
  text-decoration: underline;
}

img{
  height: 300px;
}

@media (max-width:768px) {
  .cart-wrapper .c-custom {
    margin: 2rem 0rem;
  }
  img{
    padding-right:20px;
    width: 300px;
    height: 250px;
    margin: auto;
  }

}
