<!-- On Payment Success -->
<div class="row cart-wrapper">
  <div class="col-sm-12">
       <p class="c-custom text-center init">Order Placed!</p>
   </div>
   <div class="col-sm-12">
           <p class="text-center content">
             Your order has been placed. You will be notified once your socks are dispatched.
           </p>
       <div class="col-sm-12">
           <div class="text-center">
             <img src="assets/img/payment-success.png" class="img-fluid"><br>
             <a routerLink="/collections" class="text-center btn bttn-fill-dark">Shop More</a>
           </div>
       </div>
   </div>
</div>
<!-- On Payment Failure -->
 <div class="row cart-wrapper">
   <div class="col-sm-12">
        <p class="c-custom text-center init">Payment Unsuccessful!</p>
    </div>
    <div class="col-sm-12">
            <p class="text-center content">
              There is some issue with payment. Kindly try again.<br>
            </p>
        <div class="col-sm-12">
            <div class="text-center mrt40">
              <!-- <img src="assets/img/payment-success.png" class="img-fluid"><br> -->
              <a routerLink="/checkout" class="text-center btn bttn-fill-dark">Try Again</a>
            </div>
        </div>
        <p class="text-center content mrt40">
          If the problem persists, feel free to email us
          at <a routerLink="/orders" class="link-custom">pritika@socksoho.com</a>
        </p>
    </div>
    <!--  *ngIf="myCart.items == 0"-->
  </div>
