<div class="row big-image-wrapper" id="big-image-wrapper">
  <div class="col-sm-12">
    <div class="big-image text-center init" title="Buy dress socks for men online">
      <h1 class="heading1">Shop premium quality designer socks for men</h1>
      <br>
      <a routerLink="/collections" class="btn bttn-clean-white">Shop Now</a><br>
      <p class="content1 mrt20">Free shipping within India</p>
      <p class="content1 mrt10 mobile-hide">Free shipping worldwide on orders above $50</p>
    </div>
  </div>
</div>

<div class="row separator"></div>

<div class="row about-us-wrapper">
  <div class="col-sm-6">
    <!-- <div class="about-us-image" title="Buy designer socks for men online"></div> -->
    <video class="about-us-image" controls autoplay loop >
      <source src="/assets/img/box-video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  </div>
  <div class="col-sm-6 content-box">
    <div class="about-us-content text-center setMargin">
      <h2 class="heading1">ABOUT US</h2>
      <p class="content about-us">
        If you live with purpose and passion, the world should see that in your walk. That’s why we created SockSoho!
        <span class="">
          <br><br>
          Experience the finest quality cotton on your feet designed by some of the best artists from across the world.
        </span>
        <br><br>
        <span class="mobile-hide">Our socks are engineered to provide maximum comfort with style. Order our designer
          collection to feel the difference.</span>
      </p>
      <a class="btn bttn-fill-dark about-us-button" routerLink="/collections">Let's Start</a>
    </div>
  </div>
</div>

<!-- <div class="row separator"></div> -->

<div class="row collection">
  <div class="col-sm-12">
    <h2 class="heading1 text-center">LATEST COLLECTION</h2>
  </div>
  <div *ngFor="let item of recommendedProducts" class="col-sm-3">
    <div class="prod-container">
      <div class="prod-img">
        <div class="product-common">
          <a class="link-custom" href="/description/{{item.product_id}}">
            <img [src]="item.image" class="img-fluid" alt="men designer socks" title="Buy designer socks for men online"></a>
        </div>
      </div>
      <div class="product-details">
        <p class="content"><a class="link-custom" href="/description/{{item.product_id}}"><strong>{{item.version_name}}</strong></a></p>
          <p class="content1">INR <span class="high-price">{{item.special_price}}</span>&nbsp; <strong>{{item.actual_price}}</strong></p>
        <!-- <a href="/description/{{item.product_id}}" class="btn bttn-clean-black">Add to Cart</a> -->

        <div *ngIf="item.product_id == 21; else normal" class="add-to-card-container">
            <a class="btn bttn-fill-dark" href="/description/{{item.product_id}}">SOLD OUT</a>
        </div>
        <ng-template #normal>
        <div (click)="addToCart(item.product_id)" class="add-to-card-container">
          <a  class="btn bttn-fill-dark">Add to Cart</a>
            <!-- <a href="/description/{{item.product_id}}" class="btn bttn-fill-dark content">Pre-order</a> -->
        </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <p class="text-center"><a class="btn bttn-fill-dark" routerLink="/collections">See All</a></p>
  </div>

</div>

<div class="row separator"></div>
<br>

<div class="row collection">
  <div class="col-sm-12">
    <h2 class="heading1 text-center">GIFT BOX COLLECTION</h2>
  </div>



  <div class="col-sm-4">
    <div class="prod-container gift-img-padding">
      <div class="prod-img">
        <div class="product-common-box">
          <a class="link-custom" href="/description/12">
            <img src="/assets/img/gift-boxes/cute-box.jpg" class="img-fluid" alt="men designer socks" title="Buy designer socks for men online"></a>
        </div>
      </div>
      <div class="product-details">
        <p class="content"><a class="link-custom" href="/description/12">
          <span class="sub-heading-1-grey">Happy Box</span></a><br>
          <span class="content">(Set of 6 pairs)</span><br>
        </p>
          <p class="content1">INR <span class="high-price">3100</span>&nbsp; <strong>2300</strong></p>
        <!-- <a href="/description/{{item.product_id}}" class="btn bttn-clean-black">Add to Cart</a> -->
        <div (click)="addToCart(12)" class="add-to-card-container">
          <a  class="btn bttn-fill-dark">Add to Cart</a>
            <!-- <a href="/description/{{item.product_id}}" class="btn bttn-fill-dark content">Pre-order</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="prod-container gift-img-padding">
      <div class="prod-img">
        <div class="product-common-box">
          <a class="link-custom" href="/description/14">
            <img src="/assets/img/gift-boxes/classy-box.jpg" class="img-fluid" alt="men designer socks" title="Buy designer socks for men online"></a>
        </div>
      </div>
      <div class="product-details">
        <p class="content"><a class="link-custom" href="/description/14">
          <span class="sub-heading-1-grey">Luxury Box</span><br>
          <span class="content">(Set of 6 pairs)</span><br>
        </a></p>
          <p class="content1">INR <span class="high-price">3200</span>&nbsp; <strong>2400</strong></p>
        <!-- <a href="/description/{{item.product_id}}" class="btn bttn-clean-black">Add to Cart</a> -->
        <div (click)="addToCart(14)" class="add-to-card-container">
          <a  class="btn bttn-fill-dark">Add to Cart</a>
            <!-- <a href="/description/{{item.product_id}}" class="btn bttn-fill-dark content">Pre-order</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="prod-container gift-img-padding">
      <div class="prod-img">
        <div class="product-common-box">
          <a class="link-custom" href="/description/13">
            <img src="/assets/img/gift-boxes/power-box.jpg" class="img-fluid" alt="men designer socks" title="Buy designer socks for men online"></a>
        </div>
      </div>
      <div class="product-details">
        <p class="content">
          <a class="link-custom" href="/description/13">
          <span class="sub-heading-1-grey">Power Box</span><br>
          <span class="content">(Set of 7 pairs)</span><br>
        </a>

        </p>
          <p class="content1">INR <span class="high-price">4100</span>&nbsp; <strong>3200</strong></p>
        <!-- <a href="/description/{{item.product_id}}" class="btn bttn-clean-black">Add to Cart</a> -->
        <div (click)="addToCart(13)" class="add-to-card-container">
          <a  class="btn bttn-fill-dark">Add to Cart</a>
            <!-- <a href="/description/{{item.product_id}}" class="btn bttn-fill-dark content">Pre-order</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="prod-container gift-img-padding">
      <div class="prod-img">
        <div class="product-common-box">
          <a class="link-custom" href="/description/15">
            <img src="/assets/img/gift-boxes/big-box.jpg" class="img-fluid" alt="men designer socks" title="Buy designer socks for men online"></a>
        </div>
      </div>
      <div class="product-details">
        <p class="content">
          <a class="link-custom" href="/description/15">
          <span class="sub-heading-1-grey">The Ultimate Collection</span><br>
          <span class="content">(Set of 14 pairs)</span><br>
          </a>
        </p>
        <p class="content1">INR <span class="high-price">8000</span>&nbsp; <strong>6000</strong></p>
        <!-- <a href="/description/{{item.product_id}}" class="btn bttn-clean-black">Add to Cart</a> -->
        <div (click)="addToCart(15)" class="add-to-card-container">
          <a  class="btn bttn-fill-dark">Add to Cart</a>
            <!-- <a href="/description/{{item.product_id}}" class="btn bttn-fill-dark content">Pre-order</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 big-screen">
    <div class="prod-container gift-img-padding">
      <div class="prod-img">
        <div class="product-common-box background-light">
            <p class="text-center"><a class="btn bttn-fill-dark box-buy-button" routerLink="/collections">Buy Now</a></p>
        </div>
      </div>
      <div class="product-details">
      </div>
    </div>
  </div>


  <div class="col-sm-12 mobile-screen">
    <p class="text-center"><a class="btn bttn-fill-dark" routerLink="/collections">Buy Now</a></p>
  </div>

</div>

<div class="row separator"></div>
<div class="row separator"></div>

<!-- TESTTT-->
<div class="row collection">
    <div class="col-sm-6">
      <h2 class="vicky-mobile heading1 text-center">CELEBRITY LOVE</h2>
      <img class="vicky-mobile-width" src="/assets/img/vicky.jpeg">
      <div class="col-sm-6 content-box vicky-mobile">
        <div class="vicky-content text-center setMargin">
          <p class="heading2">
            Bollywood celeb <strong>Vicky Kaushal</strong> flaunting his Yellowstone Edition socks by SockSoho.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 big-screen">
      <h2 class="big-screen heading1 text-center mrt10 mrb35">
        Bollywood celeb Vicky Kaushal flaunting his Yellowstone Edition socks by SockSoho.
      </h2>
      <h2 class="heading1 text-center mrt80 ">WHAT WILL GO WITH YOUR PERSONALITY?</h2>

      <p class="heading2 recc-mrgn text-center"> Take this short quiz and
      our sock recommender will help you pick the perfect pair for your personality. </p>

      <p class="text-center">
        <a class="typeform-share button"
        href="https://socksoho.typeform.com/to/FalzA3"
        data-mode="drawer_right"
        style="display:inline-block;text-decoration:none;background-color:#141414;color:white;
        cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;
        text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;
        max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
        font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
        data-hide-headers=true data-hide-footer=true data-submit-close-delay="0"
        target="_blank">Recommend me socks
      </a>
    </p>
      <script>
        (function() {
          var qs,js,q,s,d=document,
          gi=d.getElementById,
          ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share",
          b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script");
          js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0];
          q.parentNode.insertBefore(js,q) } })()
      </script>

    </div>


</div>

<div class="row separator"></div>
<div class="row separator"></div>
<!-- TESTTT -->

<!-- Revews start -->
<div class="row collection">
  <div class="col-sm-12">
    <h2 class="heading1 text-center mrb0">HEAR FROM OUR CUSTOMERS</h2>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="review-block">
        <div class="review-head">
          <a target="_blank" href="https://www.instagram.com/p/BtlCfOTFzxr/?utm_source=ig_web_button_share_sheet">
            <img src="/assets/img/cust-rajat.png">
            <p>
              <span class="content link-custom">Rajat Gupta</span>
              <span class="content1">MBA, ISB</span>
            </p>
            </a>
          </div>
        <div class="review-body">
          <p class="heading2"> Wore your socks on my wedding. They stole the thunder of my three
            piece suit and sherwani. Your socks are super comfortable and awesome!</p>
        </div>
     </div>
    </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="review-block">
          <div class="review-head">
              <a target="_blank" href="https://www.instagram.com/p/Bxzf9dHlNpF/">
              <img src="/assets/img/cust-amit.png">
              <p>
                <span class="content link-custom">Amit Chaudhary</span>
                <span class="content1">Founder, Lenskart</span>
              </p>
              </a>
            </div>
          <div class="review-body">
            <p class="heading2">Love the name and product, like the concept and amazing way to sell. Kudos to SockSoho!</p>
          </div>
       </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="review-block">
          <div class="review-head">
              <a target="_blank" href="https://www.instagram.com/p/BrC-C5fBeiA/">
                <img src="/assets/img/cust-ritika.png">
                <p>
                  <span class="content link-custom">Ritika Rampal</span>
                  <span class="content1">Researcher, AIIMS</span>
                </p>
              </a>
            </div>
          <div class="review-body">
            <p class="heading2">Gifted your socks box to my husband on his birthday and he just loved them!
               He only wears <a class="link-custom" target="_blank" href="https://www.instagram.com/socksoho/">@SockSoho</a> socks to all his important meetings now.</p>
          </div>
       </div>
      </div>

</div>
<!--Reviews End  -->


<div class="row separator"></div>
<div class="row separator"></div>




<div class="row collection">
  <div class="col-sm-12">
    <h2 class="heading1 text-center mrb0">MOST COMFORTABLE SOCKS MADE FOR YOUR FEET</h2>
    <img src="/assets/img/material.png" class="img-fluid mobile-hide">
    <img src="/assets/img/mobile-new.png" class="img-fluid mobile-screen">
  </div>
</div>

<div class="row separator"></div>
<div class="row separator"></div>
<!-- <div class="col-12 "> -->

<div class="row collection">
  <div class="col-xs-12 col-sm-12">
    <p class="heading1 text-center">MEN, FASHION & SOCKS</p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
      <img class="img-fluid" src="https://external.fixc2-1.fna.fbcdn.net/safe_image.php?d=AQBi2CcValePUVWz&w=540&h=282&url=https%3A%2F%2Fi0.wp.com%2Fwakeupyourmind.net%2Fwp-content%2Fuploads%2F2018%2F09%2Fso.jpg%3Ffit%3D920%252C482%26ssl%3D1&cfs=1&upscale=1&fallback=news_d_placeholder_publisher&_nc_hash=AQBM63ASEgh4nqdw">

      <a target="_blank" class="link-custom" href="https://www.inc.com/tom-popomaronis/science-finally-reveals-the-truth-about-people-who-wear-funky-socks.html">
       <p class="heading2 blog-header">Science Reveals The Truth About People Who Wear Colorful Socks</p>
      </a>

       <p class="content blog-text big-screen">
        According to an article, men who wear bright, colorful or
        crazy socks are more self-confident, exciting and a sign of .....
        <a target="_blank" class= "link-custom underline" href="https://www.inc.com/tom-popomaronis/science-finally-reveals-the-truth-about-people-who-wear-funky-socks.html">read more</a>
      </p>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
      <img class="img-fluid" src="https://www.realmenrealstyle.com/wp-content/uploads/2015/08/Evoke_Socks-4.jpg">

      <a target="_blank" class= "link-custom" href="https://www.nytimes.com/2012/02/05/fashion/in-silicon-valley-socks-make-the-tech-entrepreneur.html">
       <p class="heading2 blog-header">In Silicon Valley Socks Make The Tech Entrepreneur</p>
      </a>

       <p class="content blog-text big-screen">
        I have been in meetings where people look down and notice my socks, and
        there is this universal sign, almost like a gang sign .....
        <a target="_blank" class= "link-custom underline" href="https://www.nytimes.com/2012/02/05/fashion/in-silicon-valley-socks-make-the-tech-entrepreneur.html">read more</a>
      </p>
  </div>
  <br>

  <div class="col-xs-12 col-sm-4 col-md-4">
      <img class="img-fluid" src="https://www.inquisitr.com/wp-content/uploads/2018/12/George-HW-Bush-Socks.jpg">

      <a target="_blank" class= "link-custom" href="https://www.apnews.com/6de59830866040159eef2e95ec05a46f">
       <p class="heading2 blog-header">President George H.W. Bush had socks for every occasion</p>
      </a>

       <p class="content blog-text big-screen">
        George H.W. Bush enjoyed wearing a colorful pair of socks for different occasions.
        A special pair is even picked out for his funeral. .....
        <a target="_blank" class= "link-custom underline" href="https://www.apnews.com/6de59830866040159eef2e95ec05a46f">read more</a>
      </p>
  </div>
  <br>
</div>

<div class="row separator"></div>
<div class="row separator big-screen"></div>

<div class="row collection big-screen">
  <div class="col-12">
    <div class="box text-center">
      <h2 class="heading1 text-center">SUBSCRIBE FOR UPDATES</h2>
              <p class="content mrb25">
                 Subscribe to get the latest news, announcements, and special offers.
              </p>

                <form [formGroup]="subscribeForm" name="subscribe">
                  <div *ngIf="!subscribed" class="input-group mrb25">
                    <input formControlName="email" type="email" class="form-control input-field email-input" name="email" placeholder="Email">
                    <p *ngIf="subscribeForm.controls.email.dirty && subscribeForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
                  </div>
                  <div class="subscribed-notif" *ngIf="subscribed">
                    <p class="content3 mySize"><i class="fas fa-check success"></i> Thank you! You’re on our mailing list now. See you soon (in your inbox).</p>
                  </div>
                  <a *ngIf="!subscribed" class="btn bttn-fill-dark" (click)="subscribe()">Subscribe</a>
                </form>
    </div>
  </div>
</div>

<div class="row separator big-screen"></div>
<div class="row separator big-screen"></div>

<!-- <div class="row separator"></div>

<div  class="modal fade" align="center" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="orderPlacedLabel" aria-hidden="true">
  <div class="modal-dialog"  role="document">
    <div class="modal-content">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 modalText">

            <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-sm-10 text-center padding">
              <p class="heading1">
                <b>Subscribe</b>
              </p>
              <p class="message content">
                <strong class="offer">Avail free international shipping on orders above $50</strong>
                <br><br>
              What are we baking next for your feet? Subscribe to stay updated.
              </p><br>
              <form [formGroup]="subscribeForm" name="subscribe">
                <div *ngIf="!subscribed" class="input-group">
                  <input formControlName="email" type="email" class="form-control input-field" name="email" placeholder="Email">
                  <br>
                  <p *ngIf="subscribeForm.controls.email.dirty && subscribeForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
                </div>
                <div class="subscribed-notif" *ngIf="subscribed">
                  <p class="content">Thank you! You’re on our mailing list now. See you soon (in your inbox).</p>
                </div><br>
                 <a *ngIf="!subscribed" class="btn bttn-clean-black-subscribe" (click)="subscribe()">Subscribe</a>
              </form>
          </div>
        </div>
      </div>

        </div>
      </div>

    </div>
  </div>
</div> -->
