.big-image-wrapper{
  margin-top: 100px;
}

.post-img {
  height: 270px;
  width: 100%;
}
.blog-content {
  height: 270px;
}

.vicky{
  max-height: 450px;
}

.recc-mrgn{
  font-size: 1.25rem;
  margin: 40px 80px;
}

.big-image {
  background: url('/assets/img/big-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 130px);
  padding-top: 20%;
  z-index: -1;
}

.review-block{
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  padding: 2em;
  margin-top: 30px;
  border-radius: 6px;
  overflow: hidden;
}

.review-head{
  display: block;
  color: #393d4c;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #e5e7ef;
  cursor: pointer;
}

.review-head img{
  height: 70px;
  border-radius: 3.5em;
  transition: opacity .2s ease;
}
.review-head p{
  display: inline-block;
  margin-left: 10px;
}
.review-head p span{
  display: block;
}
.review-body{
  margin-top: 10px;
}

.offer{
  color: #B51700;
}

#sep-below-anim {
  margin-top: 110px;
}
.big-image h1, .big-image p {
  color: #fefefe !important;
}

.big-image .heading1 {
  margin-bottom: 5px;
  font-size: 30px;
}

.big-image .heading2 {
  margin-bottom: 50px;
}

.about-us-wrapper {
  box-shadow: inset 0px 7px 15px -8px rgba(72, 72, 72, 0.129);
}

.about-us-image {
  /* background: url('/assets/img/IMG_4987.jpg'); */
  /* background: url('/assets/img/big-box-about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 450px; */
  /* width: 500px;
  height: 500px; */
  width: auto ;
  max-width: 100% ;
}

.about-us-content {
  padding: 45px 45px 0;
}

.about-us-wrapper .content-box{
    padding-right: 1px;
}
.about-us-content .content {
  text-align: center;
  /* font-size: 1.09rem !important; */
}

.boring-socks {
  box-shadow: inset 0px 10px 15px -8px rgba(72, 72, 72, 0.129);
  background: #FAFAFA;
  padding: 50px;
}

.boring-socks img {
  height: 75px;
  width: 75px;
  margin-bottom: 20px;
}

.boring-socks .row{
  padding-bottom: 25px;
}

.boring-socks .heading1{
  margin-bottom: 3rem;
}

.collection {
  padding: 40px 0px 0px;
  box-shadow: inset 0px 10px 10px -8px rgba(80, 80, 80, 0.129);
}

.blog-box{
  box-shadow: inset 0px 10px 15px -8px rgba(72, 72, 72, 0.129);
}

.product-details-coming{
  padding-top: 20px;
}

.product-details .heading2 {
  color: #333333 !important;
}

.product-details .c-custom {
  font-size: .9rem;
  color: #505050;
}

.product-details .c-custom.price {
  color: #888;
}

.prod-container{
  padding: 0px 15px;
  text-align: center;
}

.prod-container:hover .add-to-card-container{
    /* display: block; */
    opacity: 1;
    transition: opacity 0.5s ease-out 0.125s, transform 0.5s ease-out 0.125s;
}

/* .gift-img-padding{
  padding: 0px 35px !important;
} */

.add-to-card-container {
    opacity: 0;
    /* display: none; */
}


.product-details .add-to-card-container a {
    transform: translateY(-14rem);
    transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.125s, background-color 0.3s ease-out 0.125s, color 0.3s ease-out 0.125s;
}

.prod-container:hover .product-details .add-to-card-container a {
    transform: translateY(-9rem);
    transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.125s, background-color 0.3s ease-out 0.125s, color 0.3s ease-out 0.125s;
}

.prod-img:hover {
    transform: scale3d(1.05,1.05,1.05);
}

.coming-icon-color {
  color: #9B9B9B;
}

.product-common {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250;
  /* height: 200px; */
  /* background-color: #FAFAFA */
}

.product-common-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250;
  /* height: 220px; */
  /* background-color: #FAFAFA */
}

.review{
  margin: 70px 100px;
  text-align: center;
}

.carousel-indicators .active{
  background: black;
}

.carousel-indicators li{
  background: grey;
}

.review .fa{
  color:#7e7e7e;
}

.blog {
  margin: 0;
  padding: 50px 0 40px;
}

.blog-tile {
  padding: 0;
}

.blog-tile .btn {
  display: none;
}

.blog-tile:hover {
  background: rgb(50, 50, 50);
}

.blog-tile:hover p {
  color: #fff !important;
}

.blog-tile:hover .btn {
  display: inline-block;
}

.blog-content {
  padding: 25px;
}

.blog2 p {
  color: #fff !important;
}

.bttn-clean-black-subscribe {
 background: #000;
 border-radius: 0px 0px 0px 0px;
 }

 .bttn-clean-black-subscribe{
    color: #fff !important;
    font-size: .9rem;
 }


.modalText{
  margin-left: 0px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border: 0px;
}

.modal-header {
    border-bottom: none;
    height: 25px;
}
.modal-title{
  margin-bottom: 20px;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.2rem;
  font-weight: 600 !important;
}

.padding{
  padding-right: 25px !important;
  padding-bottom: 25px;
}

.input-field{
  border-radius: 0px 0px 0px 0px;
}

.message{
  text-align: center;
}

.setMargin{
  margin-top:0px;
}

.validation-error {
  margin-top: 5px !important;
}
.success{
  color: green;
}

.link-custom{
  color: rgb(80, 80, 80);
}

.link-custom:hover{
  text-decoration: underline;
}

.underline{
  text-decoration: underline;
}

.email-input{
  padding: 5px;
}

.feature-here{
  margin: 50px;
}

.email-text{
  text-decoration: underline;
}

.about-us{
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 630px !important;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
  .email-input{
    margin-left: 25%;
    margin-right: 25%;
  }
  .blog-header{
    margin: 10px 15px;
    text-align: center;
  }
  .blog-mob{
    display: none;
  }
  .blog-text{
    margin: 10px 20px;
    text-align: justify;
  }
  .product-common {
    height: 170px;
  }
  .gift-img-padding{
    padding: 0px 35px !important;
  }
  .product-common-box {
    height: 220px;
  }
  .mobile-screen{
    display: none;
  }
  .background-light{
    background: #f7f7f7;
  }
  .box-buy-button{
    margin: 80px;
  }
  .vicky-mobile{
    display:none;
  }
}

@media (max-width: 767.98px){
  .big-screen{
    display: none;
  }
  .big-image{
    margin-top: 40px;
  }
  .vicky-mobile-width{
    max-height: 450px;
  }

  .big-image-wrapper{
    margin-top: 0;
    padding: 0;
  }

  .about-us-image{
    display: none;
    /* width: auto ;
    max-width: 100% ; */

  }
  .about-us-button{
    display: none;
  }
  .about-us{
    padding-bottom: 15px;
  }
  .mobile-hide{
    display: none;
  }
  .about-us-content {
    padding: 35px 15px 0;
  }
  .product-details{
    padding-top: 10px;
  }
  .product-details-coming{
    padding-top: 25px;
  }
  .prod-container{
    padding: 0px 5px;
  }
  .feature-here{
    margin: 30px 0px 0px;
  }
  .link-custom{
    text-decoration: underline;
  }
  .review{
    margin: 60px 20px;
  }
  .blog-header{
    font-size: 1.25rem;
    color: rgb(51, 51, 51);
    margin-bottom: 2rem;
    text-align: center !important;
  }

  .blog-mob{
    display: block;
  }
  .blog-text{
    margin: 20px 10px 40px;
    text-align: center;
  }
  .img-grid-mob-hide{
    display: none;
  }
  .recc-mrgn{
    font-size: 1.125rem;
    margin: 10px 10px 30px;
  }
  .vicky-content{
    padding: 15px 10px 0;
  }

}

@media (max-width: 991.98px) {
  .init {
    margin-top: 125px;
  }

  .big-image{
    margin-top: 10px;
  }
  .big-image .heading1 {
    padding: 0px 30px;
    font-size: 25px;
  }

  .big-image-wrapper{
    margin-top: 0;
    padding: 0;
  }
  .link-custom{
    text-decoration: underline;
  }
}

@media(max-width:1024px){
  .big-image {
    height: calc(100vh - 159px);
    padding-top: 50%;
  }
  .big-image .heading1 {
    padding: 20px;
    font-size: 25px;
  }

}


/*  */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row-img {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-img {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-img img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column-img {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column-img {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
