.thumbnails {
  padding: 0px 10px 20px;
  float: left;
}

.pic-wrapper {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
}

.pic-wrapper .full-img {
  width: 650px;
  border: none;
}

.thumb-img {
  width: 50px;
  height: 60px;
  margin-top: 10px;
  padding-top: 2px;
}

.thumb-img:hover {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, .5);
}

.dropdown {
  padding-left: 80px;
}

img {
  border: solid 1px rgb(202, 202, 202);
  margin: 10px;
}

#img-container > div {
  z-index: 999 !important;
}

.product-info {
  padding-left: 10px;
}

.product-info .heading1, .product-info .heading2 {
  margin-bottom: 0px;
  padding-top: 5px;
}

.selected {
  background-color: black;
}

.rows {
  padding-bottom: 10px;
}

.product-info .btn-space {
  padding: 7px;
  margin: 5px 0px;
}

.rows .selected p {
  color: #ffffff
}

.prod-details {
  padding: 40px 10px;
  margin: 0px 20px 20px;
  border: 1px solid black;
}

.prod-details ul {
  margin-top: 0.5rem;
  padding-left: 25px;
}

.prod-details .heading1 {
  margin-bottom: 1rem;
}

.prod-details .heading2 {
  padding-left: 10px;
}

.prod-details .content1 {
  line-height: 1.7rem;
  padding: 0px 25px;
}

.recommendation {
  padding: 20px;
  margin: 0px 10px 10px;
}

.recommendation .product-details {
  padding-top: 0px;
}

.link-custom{
  color: rgb(80,80,80);
}

.link-custom:hover{
  text-decoration: underline !important;
}

.recommendation .product-details .heading2 {
  color: #333333 !important;
}

.recommendation .prod-container {
  padding: 10px 15px;
  text-align: center;
}

.recommendation .prod-container:hover .add-to-card-container {
  /* display: block; */
  opacity: 1;
  transition: opacity 0.5s ease-out 0.125s, transform 0.5s ease-out 0.125s;
}

.recommendation .add-to-card-container {
  opacity: 0;
  /* display: none; */
}

.recommendation .product-details .add-to-card-container a {
  transform: translateY(-14rem);
  transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.125s, background-color 0.3s ease-out 0.125s, color 0.3s ease-out 0.125s;
}

.prod-container:hover .product-details .add-to-card-container a {
  transform: translateY(-9rem);
  transition: opacity 0.3s ease-in-out 0.25s, transform 0.3s ease-in-out 0.125s, background-color 0.3s ease-out 0.125s, color 0.3s ease-out 0.125s;
}

.recommendation .prod-img:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.recommendation .product-common {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250;
  height: 150px;
  /* background-color: #FAFAFA */
}

.recommendation .product-common img {
  margin: 0 !important;
}

.description{
  text-align: justify;
}

.product-details .c-custom {
  font-size: .9rem;
  color: #505050;
}

.product-details .c-custom.price {
  color: #888;
}

.input-group .footer-feedback-send {
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: .8rem;
    z-index: 999;
}

.input-field{
  border-radius: 0px 0px 0px 0px;
}
.validation-error {
  margin-top: 10px !important;
}

.success{
  color: green;
}

.recommendation-img{
  border: none;
}

@media(max-width: 786px) {
  .thumbnails {
    padding: 50px 0px 20px;
  }
  .recommendation .product-details {
    padding-top: 30px;
  }
}

@media(min-width: 786px) {
  .rows {
    padding-bottom: 15px;
  }
  .product-info {
    padding-left: 30px;
  }
  .prod-details {
    padding: 40px;
    margin: 0px 50px 50px;
  }
  .recommendation {
    padding: 40px;
    margin: 0px 40px 50px;
  }
  .thumbnails {
    padding: 0px 0px 20px;
  }
  .qty-row {
    padding-left: 0px;
  }
  .add-to-cart{
    padding-top: 20px;
  }
  .add-to-cart a {
    width: 70%;
  }
}

@media(max-width:600px) {
  .mb-slab {
    width: 50%;
    float: left;
    text-align: center !important;
    margin-bottom: 10px;
  }
  .add-to-cart a {
    width: 100%;
  }
  .qty-row {
    padding-left: 20%;
    padding-top: 7px;
  }
  .el-align {
    text-align: center;
  }
}
