<div class="row prod-preview-container">

  <div class="pic-wrapper">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-1">
          <div id="thumbnails" class="thumbnails">
            <img (mouseover)="changeMainImg($event)" *ngFor="let image of productDetails.images; index as i" class="thumb-img" [src]="image.image_name">
          </div>
        </div>

        <div class="col-sm-7">
          <div class="big-picture" id="img-container">
            <img id="big-picture" class="img-fluid full-img" [src]="productDetails.images[0].image_name" alt="men startup socks online" title="Buy dress socks for men online">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-info">
            <div class="rows el-align">
              <h1 class="heading1">{{productDetails.version_name}}</h1>
              <h2 class="content">{{productDetails.sub_category_name}}</h2>
            </div>
            <div class="rows el-align">
              <p class="heading2">Price</p>

              <p class="content1"><strong>₹ {{actual_priceINR}} / USD {{actual_priceUSD}}</strong><br><span class="high-price">₹ {{special_priceINR}} / USD {{special_priceUSD+1}}</span></p>

            </div>

            <div class="rows mb-slab">
              <p class="heading2">Size</p>
              <div class="row">
                <div *ngFor="let size of sizes; index as i" class="col-sm-3 col-5">
                  <a *ngIf="i==0" class="w-5 btn bttn-clean-black-no-hover btn-space">
                    <p class="content3">Free Size (UK 7-12)</p>
                  </a>
                </div>
              </div>
            </div>

            <div *ngIf="productDetails.product_id>6" class="rows mb-slab">
              <p class="heading2">Length</p>
              <div class="row">
                <div *ngFor="let size of sizes; index as i" class="col-sm-3 col-5">
                  <a class="w-5 btn bttn-clean-black btn-space" [ngClass]="{selected : (selectedSize==i)}" (click)="selectSize(i)">
                    <p class="content3">{{size.varchar_field_value}}</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="rows mb-slab">
              <div class="row">
                <div class="col-sm-12">
                  <p class="heading2">Quantity</p>
                  <div class="col-sm-4 qty-row">
                    <form name="quantity" [formGroup]="quantityForm">
                      <select formControlName="quantity" class="form-control form-control-sm">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="productDetails.product_id == 21; else available">
                <a class="btn bttn-clean-black">SOLD OUT</a>
                <br>
                <p class="content1"><i>*This item is currently sold out. You can check back within a week or Whatsapp us on +917347427124 and we will keep you updated</i></p>
            </div>

            <ng-template #available>
            <div class="rows add-to-cart">
              <a id="addToCartButton" class="btn bttn-fill-dark" (click)="addToCart()">Add to Cart</a>

            </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row prod-details">
    <p class="heading1">Description</p>
    <p *ngIf="productDetails.product_id == 1" class="content mb-4 description">
      In honor of the man who changed the world of technology forever, SockSoho presents to you the
      Steve Jobs edition. While you set out on your mission of changing the world,
      these socks will continue to inspire you.
      <br><br>
      <strong>Make: </strong>These socks have been weaved with great attention to detail using the finest
      quality combed cotton. Because you have a vision and have places to go,
      the socks also come with reinforced heel-toe that provides extra durability.
    </p>

    <p *ngIf="productDetails.product_id == 2" class="content mb-4 description">
      In the honor of the Elon Musk spirit - visionary, inventive, and bold - SockSoho presents to you the
      Elon Musk Edition. Choose this pair to celebrate the guts of a man who is inventing the future.
      <br><br>
      <strong>Make: </strong>The Elon Musk Edition is as cosmic as his ventures.
      The meshing at the front of the sock allows your feet to breathe as you go places throughout your day,
      whereas the reinforced heel-toe makes the sock more durable.
    </p>

    <p *ngIf="productDetails.product_id == 3" class="content mb-4 description">
      In honor of all that Silicon Valley represents - innovation, possibilities, and building
      things that change lives - we present to you The Silicon Valley Edition. Go for these socks
      if you’ve the fire in your belly to change the world.
      <br><br>
      <strong>Make: </strong>The design features elements from the Bay Area - San Jose, Palo Alto,
      Mountain View, Y Combinator among others. The socks material allows for moisture wicking; it
      moves sweat to the outer surface of the fabric and does not allow the fabric to be saturated by it.
    </p>

    <p *ngIf="productDetails.product_id == 4" class="content mb-4 description">
      In honor of those who stand for disruption, we present to you the Fintech Edition.
      Choose these socks if you believe in a decentralized and tech-driven world.
      <br><br>
      <strong>Make: </strong>The sock design is etched on the
      highest quality combed cotton which is a whole lot softer than regular cotton. As you walk in these
      futuristic socks, the reinforced heel-toe will prevent the susceptible parts from wear and tear.
    </p>

    <p *ngIf="productDetails.product_id == 5" class="content mb-4 description">
      Happy, creative and fun - That’s how our users describe ‘Happy Reindeer’ Edition.
      These vibrant socks feature a quirky and joyous reindeer beaming with joy.
      There are multiple elements like antlers, scarf and stars etc. that add to its flavour.
      Wear these designer socks to brighten your day and spread euphoria.
      <br><br>
      <strong>Make: </strong>These socks have been weaved with great attention to detail using the finest
      quality combed cotton. These socks also come with reinforced heel toe that provides extra
      durability. If you love colours and appreciate the finer things in life,
      the Happy Reindeer designer socks Edition is the perfect choice for you.
    </p>

    <p *ngIf="productDetails.product_id == 6" class="content mb-4 description">
      This edition will melt your heart and bring a smile on everyone’s face.
      ‘Look Into My Eyes’ edition features an adorable frog holding heart in its arms.
      Its sparkling eyes and radiant smile make the design irresistible.
      Wear these socks to add a zing to your charming personality.
      <br><br>
      <strong>Make: </strong>These socks have been weaved with great attention to detail using the finest
      quality combed cotton. These socks also come with reinforced heel toe that provides extra
      durability. If you love colours and appreciate the finer things in life,
      this Edition is the perfect choice for you.
    </p>

    <p *ngIf="productDetails.product_id == 7" class="content mb-4 description">
      The chromatic beauty of Yellowstone National Park has inspired this edition.
      The Yellowstone edition features stripes of fiery colours like orange, yellow, red, green and
      blue which capture the diverse hues of this iconic place. Wear these brightly coloured socks
      to match your dashing personality.
      <br><br>
      <strong>Make: </strong>These premium socks feature stripes in vibrant colours.
      The combed cotton used in socks allows your feet to breathe as you go
      places throughout your day, whereas the reinforced heel-toe makes the sock more durable.
    </p>

    <p *ngIf="productDetails.product_id == 8" class="content mb-4 description">
      The beautiful island of Santorini, renowned for its blue-roofed, whitewashed architecture,
      dazzling panoramas and romantic sunsets, serves as the inspiration for this edition.
      We&#39;ve used shades of Maya and Prussian blue, pearl white, gray, red and black that personify the
      serenity and alluring ambience of Santorini.
      <br><br>
      <strong>Make: </strong>These premium socks have feature evenly-spaced stripes in vibrant colours.
      The combed cotton used in socks allows your feet to breathe as you go places throughout your day,
      whereas the reinforced heel-toe makes the sock more durable.
    </p>

    <p *ngIf="productDetails.product_id == 9" class="content mb-4 description">
      The breathtakingly beautiful Ashikaga Park in Japan has inspired this edition.
      The socks feature stripes of elegant colours like purple, yellow, red and blue,
      taking a cue from the enigmatic landscape in Ashikaga. Wear the Ashikaga Edition and let your blooming personality do the talking.
      <br><br>
      <strong>Make: </strong>These socks have been weaved with great attention to detail using the
      finest quality combed cotton. The socks also come with reinforced heel toe that provides extra
      durability. If you love colours and appreciate the finer things in life, this designer
      edition is the perfect choice for you.
    </p>

    <p *ngIf="productDetails.product_id == 10" class="content mb-4 description">
      Introducing the finest quality Scottish Lisle cotton socks, a must-have accessory for the modern men.
      Experience this luxury piece of artisan craftsmanship on your feet.
      Wear these elegant designer socks with your well-fitted pants or denims and get ready for compliments.
      <br><br>
      <strong>Make: </strong> The design features white dotted pattern on black Scottish Lisle fabric.
      Anti-bacterial and hypo-allergenic, durable fabric, shiny and silky, comfortable yet hard-wearing,
      soft and shrink-resistant: these features, together with improved breathability compared
      to normal cotton, make these designer socks very fine. These socks also boast a smooth toe-seam as
      you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 11" class="content mb-4 description">
      Introducing the finest quality Scottish Lisle cotton socks, a must-have accessory for
      the modern men. Experience this luxury piece of artisan craftsmanship on your feet.
      Wear these elegant designer socks with your well-fitted pants or denims and get ready for compliments.
      <br><br>
      <strong>Make: </strong>The design features Lavender Blush dotted pattern on royal purple Scottish Lisle fabric.
      The heel-toe are in light grey color. Anti-bacterial and hypo-allergenic, durable fabric, shiny and silky,
      comfortable yet hard-wearing, soft and shrink-resistant: these features, together with
      improved breathability compared to normal cotton, make these designer socks very fine.
      These socks also boast a smooth toe-seam as you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 12" class="content mb-4 description">
      Presenting our vibrant design collection for the modern gentleman. Treat yourself or
      someone special to our iconic designs : Happy Reindeer Edition featuring a quirky and
      joyous reindeer beaming with joy; 'Look into my Eyes' edition featuring an adorable frog holding
      heart in its arms. Classic Black, Royal, Yellowstone and Santorini editions are perfect
      for high class events as well as daily use.
      <br><br>
      <strong>Make: </strong>These designer socks have been crafted from finest quality Combed Cotton
      and Scottish Lisle Cotton. The socks come with reinforced heel toe that provides extra
      durability. These socks also boast a smooth toe-seam as you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 13" class="content mb-4 description">
      Presenting Power Collection for the ambitious men of 21<sup>st</sup> century. Featuring three
      iconic designer editions - Steve Jobs, Silicon Valley and Fintech; accompanied by
      rich stripes and Classy Black Edition. Perfect gift for yourself and your loved ones. The power
      collection comes in our special signature gift box.
      <br><br>
      <strong>Make: </strong>These designer socks have been crafted from finest quality Combed Cotton
      and Scottish Lisle Cotton. The socks come with reinforced heel toe that provides extra
      durability. These socks also boast a smooth toe-seam as you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 14" class="content mb-4 description">
      Presenting our finest quality luxury socks collection for the modern men.
      These classy and elegant pieces of artistic craftsmanship are a must-have in your
      wardrobe. Perfect gift for yourself and your loved ones.
      The luxury collection comes in our special signature gift box.
      <br><br>
      <strong>Make: </strong>These designer socks have been crafted from finest quality Combed Cotton
      and Scottish Lisle Cotton. The socks come with reinforced heel toe that provides extra
      durability. These socks also boast a smooth toe-seam as you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 15" class="content mb-4 description">
      Presenting iconic designer collection for the modern-day men. Featuring our timeless collection
      of 14 pairs which are perfect for every season and occasion.
      The Man Collection comes in our special signature gift box and makes for a perfect gift for yourself and your
      loved ones.
      <br><br>
      <strong>Make: </strong>These designer socks have been crafted from finest quality Combed Cotton and Scottish Lisle Cotton.
      The socks come with reinforced heel toe that provides extra durability. These
      socks also boast a smooth toe-seam as you&#39;d expect from a sock of such quality.

    </p>

    <p *ngIf="productDetails.product_id == 16" class="content mb-4 description">
      This edition captures the essence of the greatest city in the world, London. The classy edition
      features &#39;The Queen&#39;s Guard&#39; and iconic &#39;London Black Taxi&#39; (Hackney Cab).
      Designed using the national colours of United Kingdom - red, blue and white,
      The London edition is a must-have for any global citizen.
      <br><br>
      <strong>Make: </strong>These iconic socks have been weaved with great attention to detail
      using the finest quality Combed Cotton. The fabric is infused with anti-bacterial agents.
      This patented technology prevents the proliferation of bacteria and ensures that your
      feet don&#39;t smell even if you sweat excessively. The socks also come with reinforced
      heel toe that provides extra comfort and durability.
    </p>

    <p *ngIf="productDetails.product_id == 17" class="content mb-4 description">
      The fame of the Vikings rests on their prowess as warriors and explorers. They were also traders,
      reaching as far east as the rivers of Russia and the Caspian Sea;  poets, composing verse and
      prose sagas of great power, and artists, creating works of astonishing beauty.
      <br>The Vikings Edition features a fearless Swedish Viking. His shield is accompanied with powerful
      words - "Vikings never fail".
      <br><br>
      <strong>Make: </strong>These iconic socks have been weaved with great attention to detail
      using the finest quality Combed Cotton. The fabric is infused with anti-bacterial agents.
      This patented technology prevents the proliferation of bacteria and ensures that your
      feet don&#39;t smell even if you sweat excessively. The socks also come with reinforced
      heel toe that provides extra comfort and durability.
    </p>

    <p *ngIf="productDetails.product_id == 18" class="content mb-4 description">
      Paris and romance go together like café and croissant; this gorgeous French capital has always
      inspired love. The elegant edition features clinking wine glasses with Eiffel Tower in the
      backdrop. The clouds and birds subtly add to the romanticism that permeates through the city of Paris.
      <br><br>
      <strong>Make: </strong>These iconic socks have been weaved with great attention to detail
      using the finest quality Combed Cotton. The fabric is infused with anti-bacterial agents.
      This patented technology prevents the proliferation of bacteria and ensures that your
      feet don&#39;t smell even if you sweat excessively. The socks also come with reinforced
      heel toe that provides extra comfort and durability.
    </p>

    <p *ngIf="productDetails.product_id == 19" class="content mb-4 description">
      New York is the quintessential urban experience in our contemporary world; no wonder
      travellers call it the ‘centre of universe’. This designer edition sums up
      the buzz of NY with three words - "I ❤️ NY". The design also features the famed Statue
      of Liberty which has a figure of Libertas, the Roman goddess of freedom.
      <br><br>
      <strong>Make: </strong>These iconic socks have been weaved with great attention to detail
      using the finest quality Combed Cotton. The fabric is infused with anti-bacterial agents.
      This patented technology prevents the proliferation of bacteria and ensures that your
      feet don&#39;t smell even if you sweat excessively. The socks also come with reinforced
      heel toe that provides extra comfort and durability.
    </p>

    <p *ngIf="productDetails.product_id == 20" class="content mb-4 description">
      The ultimate style accessory for the modern men - Introducing our finest quality
      Scottish Lisle Cotton socks. Experience this luxury piece of artisan craftsmanship on your feet.
      Engineered with patented technology to provide you extra comfort.
      <br><br>
      <strong>Make: </strong>The design features red dotted pattern on Sapphire Blue premium Cotton
      fabric. Anti-bacterial and hypo-allergenic, durable fabric, extra cushioning on
      heel and toe: these features, together with improved breathability compared to normal
      cotton, make these designer socks very fine. These socks also boast a smooth toe-seam
      as you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 21" class="content mb-4 description">
      Presenting our gold standard in the comfort socks - The Gentleman Edition. Crafted with
      finest quality Combed Cotton socks and designed by fashion designers from Milan, Italy.
      Engineered with patented technology to provide you extra comfort.
      <br><br>
      <strong>Make: </strong>The design features black dotted pattern on off-white Combed Cotton fabric.
      Anti-bacterial and hypo-allergenic, durable fabric, extra cushioning on heel and toe:
      these features, together with improved breathability compared to normal cotton, make
      these designer socks very fine. These socks also boast a smooth toe-seam as
      you&#39;d expect from a sock of such quality.
    </p>

    <p *ngIf="productDetails.product_id == 22" class="content mb-4 description">
      Cuba’s Carefree Capital, known for Rum and Revolutions, has inspired this designer
      edition. Havana Edition captures the Spanish-influenced architecture of old Havana with
      stripes in Brunswick green, Prussian blue, off-white and yellow colours. Wear these vibrant
      socks with denims or formals and get ready for compliments.
      <br><br>
      <strong>Make: </strong>These socks have been weaved with great attention to detail using
      the finest quality combed cotton. The socks also come with reinforced heel
      toe that provides extra durability. If you love colours and appreciate finer things in life,
      this designer edition is the perfect choice for you.
    </p>


    <div class="col-sm-6">
      <div>
        <p class="heading1">Features</p>
        <ul class="content" *ngIf="productDetails.product_id == 10 || productDetails.product_id == 11 || productDetails.product_id == 20; else normal" class="content">
          <li>Made with Finest quality Scottish Lisle Cotton</li>
          <li>Extra cushioning in toe and heel for comfort</li>
          <li>Vibrant colours and silk-like lustrous feel</li>
          <li>Anatomically correct fit </li>
          <li>Fabric treatment with sodium hydroxide (NaOH) for durability</li>
        </ul>
        <ng-template #normal>
        <ul class="content">
          <li>Premium quality combed cotton</li>
          <li>Extra cushioning in toe and heel for comfort</li>
          <li>Moisture wicking fabric</li>
          <li>Anatomically correct fit </li>
          <li>Reinforced heel-toe for durability</li>
        </ul>
        </ng-template>

      </div>
    </div>
    <!--<div class="col-sm-6">
      <div>
        <p class="heading1">Product Care</p>
        <ul class="content">
          <li>Machine Wash in 40 °C / 104 °F</li>
          <li>Do Not Bleach, Do Not Tumble Dry</li>
          <li>Avoid putting socks in dryer</li>
        </ul>
      </div>
    </div>-->
    <div class="col-sm-6">
      <div>
        <p class="heading1">Composition</p>
        <ul *ngIf="productDetails.product_id == 1" class="content">
          <li>50% Art</li>
          <li>50% Technology</li>
          <li>100% Genius</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 2" class="content">
          <li>60% Earth</li>
          <li>40% Mars</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 3" class="content">
          <li>25% Coffee</li>
          <li>75% Code</li>
          <li>100% Impact</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 4" class="content">
          <li>0% Cash</li>
          <li>100% Disruption</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 5 || productDetails.product_id == 6" class="content">
          <li>50% Quirkiness</li>
          <li>50% Charm</li>
          <li>100% Happiness</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 7 || productDetails.product_id == 8 || productDetails.product_id == 9" class="content">
          <li>0% Dullness</li>
          <li>100% Cheerfulness</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 10 || productDetails.product_id == 11 || productDetails.product_id == 14 || productDetails.product_id == 20 || productDetails.product_id == 21" class="content">
          <li>50% Elegance</li>
          <li>50% Sophistication</li>
          <li>100% Class</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 12" class="content">
          <li>50% Charm</li>
          <li>50% Quirkiness</li>
          <li>100% Happiness</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 13 || productDetails.product_id == 15" class="content">
          <li>50% Class</li>
          <li>50% Sophistication</li>
          <li>100% Power</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 16" class="content">
          <li>50% Cosmopolitan</li>
          <li>50% Charm</li>
          <li>100% London</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 17" class="content">
          <li>0% Fear</li>
          <li>100% Bravery</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 18" class="content">
          <li>25% Wine</li>
          <li>25% Food</li>
          <li>50% Art</li>
          <li>100% Love</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 19" class="content">
          <li>50% Dreams</li>
          <li>50% Energy</li>
          <li>100% NYC</li>
        </ul>
        <ul *ngIf="productDetails.product_id == 22" class="content">
          <li>0% Bland</li>
          <li>100% Liveliness</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row recommendation">
    <div class="col-sm-12">
      <p class="heading1 text-center">CUSTOMERS WHO BOUGHT THIS ALSO BOUGHT</p>
    </div>

    <div *ngFor="let item of recommendedProducts" class="col-sm-3">
      <div class="prod-container">
        <div class="prod-img">
          <div class="product-common">
            <a href="/description/{{item.product_id}}">
              <img [src]="item.image" class="img-fluid recommendation-img" alt="men startup socks online" title="Buy dress socks for men online">
            </a>
          </div>
        </div>
        <div class="product-details">
          <p class="heading2"><a href="/description/{{item.product_id}}" class="link-custom">{{item.version_name}}</a></p>
          <!-- <p class="c-custom">Dummy text</p>-->
          <!-- <p class="c-custom price">INR {{item.actual_price}} / USD {{item.actual_price}}</p> -->

          <p class="c-custom price">INR <span class="high-price">{{item.special_price}}</span>&nbsp; <strong>{{item.actual_price}}</strong></p>

          <div class="add-to-card-container">
            <a href="/description/{{item.product_id}}" class="btn bttn-fill-dark">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
