<div class="wrapper">
  <div class="col-sm-12">
      <h1 class="c-custom text-center">Returns, Refunds and Cancellation</h1>
  </div>
  <div class="offset-lg-1 col-md-10 col-12">
    <h2 class="mrt50 heading1">The following are our policies when it comes to return and cancellation of
      products, and providing refunds.</h2>
    <ol type="I" class="ol-general content">
      <li><strong>Cancellations:</strong> Orders once placed cannot be cancelled. If there's is some issue, feel free to
        drop us an email on <u>hello@socksoho.com</u>. </li>
      <li><strong>Refunds:</strong> For hygiene reasons, we do not offer exchange on our products.
        Even though each and every socks is thoroughly examined by us but incase there is any manufacturing issue,
        you can write to us on <u>hello@socksoho.com</u> or Whatsapp us on <u>+91-7347427124</u>. We will take necessary action immediately
        to ensure complete customer satisfaction.</li>
      </ol>
  </div>
</div>
