<!-- Navbar for desktop screens -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light row" id="nav-desk">
  <div class="collapse navbar-collapse col-4" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link desk-element" routerLink="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link desk-element" routerLink="collections">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link desk-element" routerLink="contact">CONTACT</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link desk-element" routerLink="about">ABOUT</a>
      </li>
    </ul>
  </div>
  <div class="col-4 text-center">
    <a class="navbar-brand" routerLink="/" style="margin:0;">
      <img src="assets/img/logo_soho.png" id="desk-logo" class="img-fluid">
    </a>
    <button class="navbar-toggler" id="button1" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  </div>


  <div id="rhs-header" class="ml-auto header-icons col-4" align="right">
    <ul class="navigation">
      <li>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=917347427124&text=Hi,%20I%20want%20to%20place%20my%20order%20at%20SockSoho%20">
            <i class="fab fa-whatsapp"></i>
            <span class="content1"> Place order on Whatsapp +91-7347427124</span>
          </a>
      </li>
      <li *ngIf="!loggedIn"><a routerLink="/my-account" class="desk-element"><img class="login-icons" src="./assets/img/avatar.png"> LOGIN/REGISTER</a></li>
      <li *ngIf="loggedIn">
        <a href="javascript:void">{{currentUser.name || "MyAccount"}}</a>
        <ul class="my-account dropdown">
          <!-- <li><a routerLink="/orders">My Orders</a></li> -->
          <li><a href="javascript:void" (click)="logout()">Signout</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/cart" class="desk-element">
          <img class="cart-icon" src="./assets/img/shopping-cart.png">
          <span class="items-in-cart">
            <strong> {{myCart.items.length}}</strong></span></a>
    <ul id="minicart" class="dropdown dropdown-minicart">
      <div class="row inner-minicart" *ngIf="myCart.items == 0">
        <p class="emptyCartTextHead heading1">Cart Empty</p>
        <p class="row inner-minicart emptyCartText content">Your feet are waiting
          for some awesome socks. Go ahead, choose some socks to match your personality.</p>
      </div>
      <div class="row inner-minicart" *ngIf="myCart.items != 0">
        <div class="row overflow-container">
          <ng-container *ngFor="let item of myCart.items; index as i">
            <div class="col-sm-5">
              <img [src]="item.imgSrc" class="img-fluid">
            </div>
            <div class="col-sm-7">
              <p class="content align-text-left">{{item.product_title}}</p>
              <!-- <p class="content1 align-text-left">{{item.edition}}</p> -->
              <!-- <p class="content1 align-text-left">Size: (UK 7-12)</p> -->
              <p class="content1 align-text-left" *ngIf="item.product_id>6">Length:
                    <span *ngIf="item.product_id>6">
                      <span *ngFor="let size of item.availSizes; index as i2">
                      <span *ngIf="item.size_id==size.Size_id">
                        <span>{{size.varchar_field_value}}</span>
                      </span>
                      </span>
                    </span>
              </p>
              <p class="content1 align-text-left">Qty: {{item.quantity}}</p>
              <p class="content1 align-text-left">Value: INR {{item.totalPriceINR}} / USD {{item.totalPriceUSD}}</p>
            </div>
            <div class="separator w-100"></div>
          </ng-container>
        </div>

        <div class="col-sm-12" id="emptyCart">
          <div class="subtotal">
            <p class="heading1">Subtotal
              <span class="heading2 float-right pdt5">₹ {{myCart.info.subTotalINR || 0}} / USD {{myCart.info.subTotalUSD || 0}}</span>
            </p>
            <a routerLink="/checkout" class="btn bttn-fill-dark w-100 mt-2 checkout-button">Checkout</a>
          </div>
        </div>
      </div>
    </ul>
        <!-- <ul id="minicart" class="dropdown dropdown-minicart">
          <div class="row inner-minicart">
            <div class="row overflow-container">
              <ng-container *ngFor="let item of myCart.items; index as i">
                <div class="col-sm-5">
                  <img [src]="item.imgSrc" class="img-fluid">
                </div>
                <div class="col-sm-7">
                  <p class="heading1">{{item.product_title}}</p>
                  <p class="content1">{{item.edition}}</p>
                  <p class="content mrt10"><span class="size-value">Size: </span>Free Size (7-12)</p>
                  <p class="content"><span class="size-value">Qty:</span> {{item.quantity}}</p>
                  <p class="content"><span style="font-size: 13px;" class="size-value"><strong>INR {{item.totalPriceINR}} / USD {{item.totalPriceUSD}}</strong></span></p>
                </div>
                <div class="separator w-100"></div>
              </ng-container>
            </div>

            <div class="col-sm-12">
              <div class="subtotal">
                <p class="heading1">Subtotal
                  <span class="heading2 float-right pdt5">₹ {{myCart.info.subTotalINR || 0}} / USD {{myCart.info.subTotalUSD || 0}}</span>
                </p>
                <a routerLink="/checkout" class="btn bttn-fill-dark w-100 mt-2 checkout-button">Checkout</a>
              </div>
            </div>
          </div>
        </ul> -->
      </li>
    </ul>
  </div>


</nav>

<!-- Navbar for mobile screens -->
<div id="nav-mob">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" id="mob-logo" routerLink="/">
      <img src="assets/img/logo_soho.png" id="logo" class="img-fluid">
    </a>
    <button class="navbar-toggler" id="button2" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="collections">Shop</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="blog">Blog</a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="user-icons">
    <ul class="navigation text-center">
      <li *ngIf="!loggedIn"><a routerLink="/my-account"><img src="./assets/img/avatar.png" class="login-icons"> Login / Register</a></li>
      <li class="d-none d-md-block d-lg-none" *ngIf="loggedIn"><a href="javascript:void">{{currentUser.name || 'My Account'}}</a>
        <ul class="my-account dropdown">
          <li><a routerLink="/orders">My Orders</a></li>
          <li><a>My Profile</a></li>
          <li><a href="javascript:void" (click)="logout()">Signout</a></li>
        </ul>
      </li>
        <li class=" d-block d-sm-block" *ngIf="loggedIn">

        </li>
        <li>
        <a routerLink="/cart"><img class="cart-icon" src="./assets/img/shopping-cart.png"><span class="items-in-cart"> {{myCart.items.length}}</span></a>
        <!-- <ul id="minicart" class="dropdown dropdown-minicart">
          <div class="row inner-minicart justify-content-center">
            <div class="row justify-content-center overflow-container">
              <ng-container *ngFor="let item of myCart.items; index as i">
                <div class="col-sm-4">
                  <img [src]="item.imgSrc" class="img-fluid">
                </div>
                <div class="col-sm-5">
                  <p class="heading1">{{item.product_title}}</p>
                  <p class="content1">{{item.edition}}</p>
                  <p class="content mrt10"><span class="size-value">Size: </span>{{item.size[0]}}</p>
                  <p class="content"><span class="size-value">Qty:</span> {{item.quantity}}</p>
                  <p class="content"><span class="size-value"><strong>INR {{item.totalPriceINR}} / USD {{item.totalPriceUSD}}</strong></span></p>
                </div>
                <div class="separator w-100"></div>
              </ng-container>
            </div>
            <div class="col-sm-10">
              <div class="subtotal">
                <p class="heading1">Subtotal
                  <span class="heading2 float-right pdt5">₹{{myCart.info.subTotal || 0}}</span>
                </p>
                <a routerLink="/checkout" class="btn bttn-fill-dark w-100 mt-2 checkout-button">Checkout</a>
              </div>
            </div>
          </div>
        </ul> -->
      </li>
    </ul>
    <hr>
    <div class="col-12 mobile-whatsapp">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=917347427124&text=Hi,%20I%20want%20to%20place%20my%20order%20at%20SockSoho%20">
      <i class="fab fa-whatsapp fa-lg"></i>
      <span class="content1 whatsapp"> Click here to order on Whatsapp +91-7347427124</span>
    </a>
    <div>
  </div>
</div>
