.navbar{
  background-color: white;
  z-index: 1;
  margin: 0;
}

.navbar .desk-element{
  margin: 5px 10px 0px 0px;
}

#nav-mob{
  background-color: white;
}

#nav-mob nav {
  width: 100%;
  margin: 0;
  background: #ffffff;
  z-index: 10;
  padding-bottom: 16px;
}

#desk-logo {
  max-height: 160px;
  max-width: 300px;
}

#logo {
  max-height: 65px;
}

#navbarSupportedContent1 {
  z-index: 1;
}

#rhs-header {
  margin-top: -35px;
}
.login-icons {
  max-height: 20px;
}
.cart-icon {
  max-height: 20px;
}
.checkout-button {
  font-size: 18px;
  padding: 15px;
  height: 50px;
}

#button2 {
  height: 30px;
  width: 35px;
  padding: 0px;
  margin-right: 20px;
}

#button2 span {
  height: 20px;
  width: 25px;
  margin-bottom: 1px;
}

#user-icons {
  width: 90%;
  position: fixed;
  margin: 0;
  background: #ffffff;
  z-index: 1;
  padding-bottom: 5px;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.header {
  margin-top: 20px;
  font-size: .875rem;
}

ul.navigation {
  list-style: none;
}

ul.navigation li {
  display: inline-block;
}

ul.navigation li a {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
  color: rgba(0,0,0,.5);
}

ul.navigation li a:hover {
  color: inherit;
}

.header-icons ul {
  list-style: none;
}

.header-icons ul li {
  display: inline-block;
  margin-top: 10.5px;
  padding-left: 25px;
  position: relative;
}

.header-icons li img {
  width: 1.125rem;
  height: 1.125rem;
}

.header-icons li a {
  color: inherit;
}

.items-in-cart {
  vertical-align: sub;
}

ul.dropdown {
  width: 150px;
  list-style: none;
  display: none;
  box-shadow: 0 7px 22px 0 rgba(0, 0, 0, .2);
  position: absolute;
  right: 0;
  z-index: 999;
  background: #fff;
  padding-left: 0px;
  text-align: center;
}

ul.dropdown.my-account {
  padding: 10px 0px;
}

ul.dropdown.my-account li {
  display: block !important;
  margin-bottom: .5rem;
  margin-top: 0;
  padding-left: 0px;
}

/* MiniCart Start */

.header-icons ul li:hover ul.dropdown {
  display: block;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul.dropdown-minicart {
  width: 300px;
  display: block;
  max-height: 0;
  transition: all 0.5s linear;
  padding: 0;
}

.inner-minicart {
  visibility: hidden;
  transition-delay: .2s;
}

.header-icons ul li:hover ul.dropdown-minicart, .header-icons ul li ul.dropdown-minicart.showCart {
  visibility: visible !important;
  max-height: 100vh !important;
  padding: 1.5rem 0.5rem 1rem !important;
}

.header-icons ul li:hover ul.dropdown-minicart .inner-minicart, .header-icons ul li ul.dropdown-minicart.showCart .inner-minicart {
  visibility: visible !important;
}

.overflow-container {
  margin-left: 15px;
  margin-right: 15px;
  max-height: 55vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul.dropdown-minicart img {
  width: 85px !important;
  height: auto !important;
  /* 120px !important; */
  border: 0.5px solid rgba(204,204,204,0.5);
  margin-top: 10px;
}

.emptyCartTextHead{
  margin-left: 32%;
}

.emptyCartText{
  margin: 3% 10%;
}

.dropdown-minicart {
  padding: 1.5rem 0 1rem;
  text-align: left;
}

.dropdown-minicart .c-custom {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.dropdown-minicart .heading1 {
  margin-bottom: 0;
}

.dropdown-minicart .content {
  margin-bottom: 0;
}

.dropdown-minicart .content .size-value {
  color: rgb(80, 80, 80);
}

.subtotal {
  position: relative;
  padding: 10px 10px 10px;
  border-top: 0.5px solid rgba(204,204,204,0.5);
}

.subtotal hr {
  /* width: 70%; */
}

.subtotal .content1 {
  color: #000;
}

.subtotal .heading1 {
  margin-bottom: 10px;
}

.vertical-separator {
  position: absolute;
  left: -25%;
  height: 100%;
  background: #eee;
  width: 1px;
}

.dropdown-minicart .separator {
  margin: 10px 50px 0px;
  /* border-top: 1px solid rgba(0,0,0,.1); */
}

.cart-container {
  height: 300px;
  overflow: scroll;
}

.fa-whatsapp{
  color: rgb(37, 211, 102);
}

.whatsapp{
  text-decoration: underline;
  font-weight: bold;
}

/* MiniCart End */
#navbarSupportedContent2{
  width: 100%;
  text-align: center;
  background: white;
  z-index: 1;
}

#navbarSupportedContent2 .nav-item{
  margin: 0;
}

#navbarSupportedContent2 li:hover, li:active{
  background-color: #FAFAFA;
  color: white;
  font-weight: bolder;
}

#navbarSupportedContent2.show {
  height: 160px;
}

@media (max-width: 991.98px) {
  #nav-desk {
    display: none;
  }

  #nav-mob{
    width: 100%;
    padding-right: 50px;
    margin:0;
  }
  #mob-logo img{
    width: 200px;
  }
  ul.navigation li a {
    padding: 0px 40px 0px 20px;
    color: rgba(80, 80, 80);
  }

  .mobile-whatsapp{
    margin: 10px 0px;
  }

}

@media (max-width: 576px) {
  #user-icons {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #nav-mob {
    display: none;
  }
}

@media (min-width: 1100px){
   #nav-desk {
     margin: 0px 50px;
   }
}
