<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
</div>
<div class="container-fluid">
  <app-footer></app-footer>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
