<div class="row collections-wrapper">
    <div class="col-sm-12">
       <div class="products-img">
        <h1 class="heading-line">Full Collection</h1>
      </div>
    </div>

    <!-- E2 starts here -->
    <div class="row">
      <div class="col-sm-12 col-md-6" *ngFor="let product of productList;">
        <div class="row">
          <div class="col-sm-12 col-md-4 collection-clr big-screen">
            <p class="heading2 align-text-center">
              <a class="link-custom" routerLink="/description/{{product.product_id}}">{{product.version_name}}</a>
            </p>
            <p class="content1 align-text-center sub-heading">({{product.sub_category_name}})</p>
            <p class="content1 about-product-1">{{product.description | slice:0:80}}...</p>

            <div *ngIf="product.product_id == 21; else normal" class="row collections-btn-grp-1 justify-content-center">
                <a class="btn bttn-clean-black-no-hover" href="/description/{{product.product_id}}">SOLD OUT</a>
            </div>
            <ng-template #normal>
            <div class="row collections-btn-grp-1 justify-content-center">
                <a routerLink="/description/{{product.product_id}}" class="btn bttn-fill-dark">Buy Now</a>
            </div>
          </ng-template>
          </div>

          <div class="col-sm-12 col-md-7 collection-img align-text-center">
              <a href="/description/{{product.product_id}}">
                <!-- <img [src]="product.image" class="img-fluid" alt="men startup socks online"
                title="Buy dress socks for men online"> -->
                <img [src]="product.image" class="img-fluid product-img"
                alt="Designer socks for men online" title="Designer Socks for men online">
              </a>
          </div>

          <div class="col-sm-12 col-md-5 collection-clr mobile-screen">
            <p class="heading1 align-text-center">
              <a class="link-custom" routerLink="/description/{{product.product_id}}">
              {{product.version_name}}</a>
            </p>
            <!-- <p class="content1 align-text-center heading2">({{product.sub_category_name}})</p> -->
            <p class="content1 about-product-1">{{product.description | slice:0:100}}...</p>
            <!-- <p class="content1 about-product">{{product.description | slice:0:110}}.....</p> -->

            <div *ngIf="product.product_id == 21; else normal" class="row collections-btn-grp-1 justify-content-center">
                <a class="btn bttn-clean-black-no-hover" href="/description/{{product.product_id}}">SOLD OUT</a>
            </div>
            <ng-template #normal>
            <div class="row collections-btn-grp-1 justify-content-center">
                    <a routerLink="/description/{{product.product_id}}" class="btn bttn-fill-dark">Buy Now</a>
            </div>
            </ng-template>

          </div>
        </div>

        <div class="row separator big-screen"></div>
        <div class="row separator big-screen"></div>
        <div class="row separator big-screen"></div>

      </div>
    </div>
    <!-- E2 ends here -->

    <!-- E4 starts here -->
    <!-- <div class="row">
      <div class="col-sm-12 col-md-4" *ngFor="let product of productList;">
        <a href="/description/{{product.product_id}}"><img src="../assets/img/demo-3.png" class="img-fluid"
            style="height:320px" alt="men startup socks online" title="Buy dress socks for men online"></a>
          <div class="row">
            <div class="col-sm-12 col-md-12">
            <p *ngIf="product.product_id == 1" class="heading2 align-text-center"><a class="link-custom" href="/description/{{product.product_id}}">Stay Hungry, Stay Foolish</a></p>
            <p *ngIf="product.product_id == 2" class="heading2 align-text-center"><a class="link-custom" href="/description/{{product.product_id}}">Invent the Future</a></p>
            <p *ngIf="product.product_id == 3" class="heading2 align-text-center"><a class="link-custom" href="/description/{{product.product_id}}">Go Big or Go Home</a></p>
            <p *ngIf="product.product_id == 4" class="heading2 align-text-center"><a class="link-custom" href="/description/{{product.product_id}}">In Crypto We Trust</a></p>

            <p class="content1 align-text-center sub-heading">({{product.version_name}})</p>
            <div class="row collections-btn-grp-1 justify-content-center">
                <a routerLink="/description/{{product.product_id}}" class="btn bttn-fill-dark">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- E4 ends here -->

</div>
