.collections-wrapper .c-custom {
    font-size: 3rem;
    text-align: center;
    padding: 40px;
    margin-bottom: 2rem;
}

.collections {
    margin: 0;
}



.collection-clr {
    /* padding: 40px 0px; */
    background: #FAFAFA;
    text-align: center;
    position: relative;
}

.about-product{
  padding: 30px 25px 10px;
}

.about-product-1{
  padding: 0px;
}

.full-description{
  text-decoration: underline;
}

.collection-clr .heading2 {
    padding-top: 10px;
}

.collection-clr .heading1 {
    /* margin-bottom: 3rem; */
}

.collections-btn-grp {
    padding-top: 10px;
}

.collections-btn-grp-1 {
    padding: 20px 0px;
}

.heading1{
  margin-bottom: 0rem;
}

.link-custom{
  color: rgb(51,51,51);
}

.link-custom:hover{
  text-decoration: underline;
}

.products-img .heading-line {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  padding-top: 10vh;
  margin-bottom: 25px;
  font-weight: lighter;
}


@media (max-width: 786px){
    .collections-wrapper{
      margin-top: 40px;
      padding: 0;
    }
    .products-img .heading-line {
      padding-top: 20vh;
    }
    .big-screen{
      display: none;
    }
    .product-img {
        /* height: 280px; */
        padding:0px 15px;
    }
    .collection-clr .heading2 {
        padding-top: 0px;
    }
    .collection-clr .heading1{
      margin-top: 10px;
    }
    .collections-btn-grp-1 {
        padding: 15px 0px 35px;
    }
    .about-product-1{
      padding: 5px 20px 0px;
    }

  }

@media (min-width: 786px){
  .mobile-screen{
    display: none;
  }
  .sub-heading{
    margin-bottom: 0.7rem;
  }
}
