<!-- <div class="row myanimation" style="margin-top: 50px;">
  <div class="col" id="animated-div2" style="opacity: 0;">
    <div id="text1" align="center">Soft Welt for Comfort</div>
    <img src="assets/img/line1.png" id="line1" align="right">
    <div id="text2" align="center">Reinforced Heel Toe</div>
    <img src="assets/img/line2.png" id="line2" align="right">
  </div>

  <div class="col" id="animated-div">
    <img src="assets/img/sock2-body.png" id="p1" class="img-fluid sock-part">
    <img src="assets/img/sock2-top.png" id="p2" class="img-fluid sock-part">
    <img src="assets/img/sock2-toe.png" id="p3" class="img-fluid sock-part">
    <img src="assets/img/sock2-heel.png" id="p4" class="img-fluid sock-part heel">
  </div>

  <div class="col" id="animated-div3" style="opacity: 0;">
    <br>
      <div id="text3">Moisture Wicking</div>
      <img src="assets/img/line3.png" id="line3">
    <div id="text4">Strong Linking</div>
    <img src="assets/img/line4.png" id="line4">
  </div>
</div> -->
