/* #animated-div img {
  position: absolute;
  animation-fill-mode: forwards;
  z-index: -1;
}
.sock-part {
  max-height: 360px;
  opacity: 0;
}


.animate-p1 {
  animation: mov_rt 1.5s ease;
}
.animate-p2 {
  animation: mov_dn 1.5s ease;
}
.animate-p3 {
  animation: mov_up1 1.5s ease;
}
.animate-p4 {
  animation: mov_lt 1.5s ease;
}
.anim-img{
  position: absolute;
  z-index: 1;
}
.turnOnLeftDiv {
  animation: makeVisibleLeft 3s ease-in;
  animation-fill-mode: forwards;
}
.turnOnRightDiv {
  animation: makeVisibleRight 3s ease-in;
  animation-fill-mode: forwards;
}
.fadeout {
  animation: fade .5s ease;
  animation-fill-mode: forwards;
}
#line1, #line2, #line3, #line4 {
  position: absolute; z-index: 1;
}
#line1 {
  margin-left: 51px;
  margin-top: -3px;
}
#line2 {
  margin-left: 8px;
}
#line3 {
  margin-left: -57px;
  margin-top: -7px;
}
#line4 {
  margin-left: -9px;
  margin-top: -7px;
}
#text1{
  margin-top: -12px;
  margin-left: -15px;
}
#text2 {
  margin-top: 70px;
  margin-left: -24px;
}
#text3 {
  margin-left: 42px;
}
#text4 {
  margin-top: 186px;
  margin-left: 62px;
  margin-bottom: 8px;
}
@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes makeVisibleLeft {
  from {opacity: 0;}
  to {opacity: .7;}
}

@keyframes makeVisibleRight {
  from {opacity: 0;}
  to {opacity: .7;}
}

@keyframes mov_dn {
  from {top: -300px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}

@keyframes mov_rt {
  from {left: -200px; opacity: 0;}
  to {left: 15px; opacity: 1;}
}

@keyframes mov_lt {
    from {right: -600px; opacity: 0;}
    to {right: -15px; opacity: 1;}
}
@keyframes mov_up1 {
    from {top: 500px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}
@keyframes mov_up2 {
    from {top: 500px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

@media (max-width: 319.98px) {
  #line1,#line2,#line3,#line4 {
    display: none;
  }
  #animated-div2, #animated-div3 {
    display: none;
  }
  #animated-div img {
    max-height: 120px;
  }
  #p1 {
    margin-left: 100px;
  }
  #p2 {
    margin-left: 100px;
  }
  #p3 {
    margin-left: 100px;
  }
  #p4 {
    margin-right: -27px;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  #line1,#line2,#line3,#line4 {
    display: none;
  }
  #p4 {
    margin-right: -180px;
  }
  @keyframes mov_dn {
    from {top: -100px; opacity: 0;}
    to {top: 0px; opacity: 1;}
  }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
  #line1,#line2,#line3,#line4 {
    display: none;
  }
  #line1 {
  margin-left: 51px;
  margin-top: -3px;
}
#line2 {
  margin-left: 8px;
}
#line3 {
  margin-left: -57px;
  margin-top: -7px;
}
#line4 {
  margin-left: -9px;
  margin-top: -7px;
}
#text1{
  margin-top: -12px;
  margin-left: -15px;
}
#text2 {
  margin-top: 70px;
  margin-left: -24px;
}
#text3 {
  margin-left: 42px;
}
#text4 {
  margin-top: 186px;
  margin-left: 62px;
  margin-bottom: 8px;
}

  @keyframes mov_dn {
    from {top: -100px; opacity: 0;}
    to {top: 0px; opacity: 1;}
  }

  @keyframes mov_rt {
    from {left: -200px; opacity: 0;}
    to {left: 15px; opacity: 1;}
  }

  @keyframes mov_lt {
      from {right: -600px; opacity: 0;}
      to {right: -15px; opacity: 1;}
  }
  @keyframes mov_up1 {
      from {top: 500px; opacity: 0;}
      to {top: 0px; opacity: 1;}
  }
  @keyframes mov_up2 {
      from {top: 500px; opacity: 0;}
      to {top: 0px; opacity: 1;}
  }
}
@media (min-width: 768px) and  (max-width: 991.98px) {
  #line1,#line2,#line3,#line4 {
    display: none;
  }
  @keyframes mov_lt {
      from {right: -600px; opacity: 0;}
      to {right: 25px; opacity: 1;}
  }

}
@media (min-width: 992px) and  (max-width: 1199.98px) {
  #line1,#line2,#line3,#line4 {
    display: none;
  }
  @keyframes mov_lt {
      from {right: -600px; opacity: 0;}
      to {right: 105px; opacity: 1;}
  }
} */
