.faq-img{
  height: 25vh;
	margin-bottom: 50px;
}

.faq-img .heading1 {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  padding-top: 10vh;
  font-weight: lighter;

}

.content-wrapper{
	padding:10px 50px 100px;
}

.inner-link{
  text-decoration: underline;
}

ol {
	padding: 20px 50px 0px;
  margin-bottom: 0px;
}

.no-margin-rt {
	margin-right: 0px;
}

.margin-rt {
	margin-right: 2px;
}


.collapsible {
    background-color: #ffffff;
    cursor: pointer;
    padding: 20px 50px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    background-color: #ffffff;
}

.content-style {
    padding: 0px 73px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
    margin-bottom: 15px;
}

@media(max-width:1024px){
  .content-wrapper{
    padding:10px 10px 100px;
  }
  p.question{
    padding: 5px;
  }
  p.answer {
    padding: 5px 15px 15px;
  }
  .faq-img{
    height: 20vh;
  }

}

@media(max-width:786px){
  .collapsible {
      padding: 20px;
    }
  ol {
    padding: 10px 20px 10px 0px;
  }
  .content-style {
      padding: 0px 33px;
    }
}
