<div class="row">
	<div class="col-sm-12">
			<div class="faq-img">
				<h1 class="heading1 init">FAQs</h1>
			</div>
	</div>
	<div class="col-sm-12">
		<div class="content-wrapper">

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp; My socks make my feet itchy.
					Will yours do the same to me?</strong></h2>
			</button>
			<div class="content-style content">
				<p>Not in a million years! We use anti-bacterial combed cotton and scottish lisle
					cotton for socks which is an extremely soft version of cotton;
					it’s made by specially treating the cotton fibers before they are spun into yarn.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i> &nbsp; Do your socks have good arch support?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
					Our socks are made with reinforced heel and toe to give your feet perfect support along with cushioning.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i> &nbsp; Are your socks super thin or super thick?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
			  They are neither too thin, nor too thick. Our socks are made with medium layering that fits comfortably in your shoes.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp; Are your socks vegan?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
				Yes, we love animals and they love us back because none of our socks are made by harming any animal in any way :)
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp; Do you povide Cash On Delivery(COD)?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
				Yes, cash is still the king!
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp; I am having payment troubles?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
				Please contact us on hello@socksoho.com or call us on +91-7347427124.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp; Are there any additional GST charges?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
				All the prices shown to you are inclusive of GST taxes. So, you pay what you see.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;How long does it take for you to deliver my sock order?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
					For international orders, the time may vary according to the country. You’ll receive prompt updates via
					email as the socks make their way to you.
					<br><br>
					For orders within India, here is the estimated time according to state/city:
				</p>
				<ol>
					<li>Punjab, Haryana, Himachal Pradesh, Uttar Pradesh, Rajasthan, Uttarakhand, Delhi, NCR- 2 to 4 days.</li>
					<li>Mumbai, Bangalore, Chennai, Kolkata- 4 to 5 days.</li>
					<li>State Capitals, Tier 1 cities, Key Tier 2 cities- 5 to 6 days.</li>
					<li>Tier 2 and Tier 3 cities- 5 to 6 days</li>
					<li>North East, Andaman and Nicobar, J & K- 6 to 8 days.</li>
				</ol>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;When will my socks be shipped?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
					You socks will be shipped on the same day as when you placed your order.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;What size is your socks?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
					Our socks are free size and perfectly fit men with foot size UK 7 - 11.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;Will you ever offer socks in UK size 14 or 15?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
					We hope to expand our size range in the near future, but for now we offer men’s sizes UK 7 through 11.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;Do you ship socks internationally?</strong></h2>
			</button>
			<div class="content-style content">
				<p>
					Yes, we ship internationally and we offer free shipping on order about USD 50. We wanted to ship to Mars as well but no courier company is helping us do that ;)
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;*Grunt* I received a faulty sock!
					Should I bang my head or troll you on social media?</strong></h2>
			</button>
			<div class="content-style content">
				<p>Err… Neither.<br>
					If the item is faulty in any way, you may return it to us within 7 days of the item being delivered to you.
					Please write to us at <span class="a-link-color inner-link">hello@socksoho.com</span> or Whatsapp us on +91-7347427124 along with your order number and the fault with the item. We will initiate the process of pickup and replacement.
					You can also check our refund/cancellation policy <a class="a-link-color inner-link" href="/returns">here</a>.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;I am an acclaimed artist and want
					to design socks for your next edition. Would you be interested?</strong></h2>
			</button>
			<div class="content-style content">
				<p>Yes, we’d DEFINITELY be interested in exploring synergies. Kindly write to <span class="a-link-color inner-link">hello@socksoho.com</span>
					and we’ll get back to you within 24 hours.
				</p>
			</div>

			<div class="w-100"></div>

			<button class="collapsible sub-heading-2" id="btn2">
				<h2 class="content"><strong><i class="fas fa-angle-down"></i>&nbsp;I love your collection. Can I request a
					special socks edition?</strong></h2>
			</button>
			<div class="content-style content">
				<p>Yes, you can. Kindly write to us on <span class="a-link-color inner-link">hello@socksoho.com</span> and we’d be happy to chat with you.
				</p>
			</div>

		</div>
	</div>
</div>
