	<div class="wrapper">
		<div class="col-sm-12">
				<p class="c-custom text-center heading1">Privacy Policy</p>
		</div>
		<div class="offset-lg-1 col-md-10 col-12">
			<p class="content">
				We value and respect your privacy. The following document clearly states how we manage,
				store, and use your data. Please read it carefully so that you are well aware of
				what happens to your information once you fill any form on our website or
				agree to any service. Any changes made to the privacy policy will be reflected here.
				Hence, we request you to check back in periodically.
			</p>

			<p class="mrt50 heading1">Where we get your data from:</p>
			<ol class="data content">
				<li> The information you give us:
					<ol type="a">
						<li> When placing an order.</li>
						<li> On creating an account/ profile.</li>
						<li> While compiling wish lists.</li>
						<li> When you communicate with us through email, telephone, or otherwise. </li>
						<li> When you sign up to be alerted about the availability of any products. </li>

					<p>This information can include your name, email id, phone number, address,
						as well as those of the people you are sending the products to for any reason;
						your photograph; financial information (credit/ debit cards).</p>
						</ol>
				</li>
				<li> Information automatically collected:
					<ol type="a">
						<li> Computer’s Internet protocol (IP) address.</li>
						<li> Information related to your computer and its connection such as browser type, version, time zone setting, browser plug-in types and versions, operating system, and platform.</li>
						<li> Purchase history.</li>
						<li> Products you viewed or searched for.</li>
						<li> Cookie number.</li>
						<li> How long you stayed on the website and what features you used.</li>
					</ol>
				</li>
				<li> Mobile/ App:
					<p>On downloading our app, we receive your and your mobile device’s location. This is used to provide location-specific services. You can also disable the
						locations settings should your device allow it. </p>
				</li>
			</ol>

			<p class="mrt50 heading1">When do we share the data and with whom?</p>
			<ol class="ol-general content">
				<li> Third party delivery services</li>
				<li> Your name, address, and telephone number is shared with a promise on the part of the delivery company to not share or use the information in any way.</li>
				<li> Third party payment providers.</li>
				<li> Your name, address, debit. Credit card information, order information is shared.</li>
				<li> Transfer of business.</li>
				<li> In case TSB merges or is bought by another company, customer information is one of the assets shared or given away, subject to the pre-existing Privacy Policy.</li>
				<li> In a legal context.</li>
				<li> To respond to a lawful request, search warrant, or subpoena. It may also be shared when we believe it is instrumental in protecting the rights, property, and safety of TSB as well as its customers. No information is ever disclosed, sold, shared, or rented for commercial purposes.</li>
			</ol>

			<p class="mrt50 heading1">Your rights:</p>
			<ol class="ol-general content">
				<li> Right to request access to data that we store about you.</li>
				<li> Right to demand changes in incorrect or inaccurate data.</li>
				<li> Right to demand the termination of processing of your data any longer.</li>
				<li> Right to lodge a complaint should you wish.</li>
			</ol>

			<p class="mrt50 heading1">Cookies:</p>
			<p class="content">A cookie is a small text file that enables various features of TSB and is placed on your
				computer or mobile. They store user preferences and track user trends in order to better
				your experience on the website and provide customized options to you. You can decide whether
				you want cookies to be enabled for your Internet surfing or not using the browser settings.
				Leaving them on will mean that you accept to our usage of whatever personal information is
				collected by our cookie. </p>

			<p class="mrt50 heading1">Google Analytics :</p>
			<p class="content">We also use Google Analytics to help us understand how our customers use the Site--you can read more about how Google uses your
				Personal Information <a class="a-link-color inner-link" href="https://www.google.com/intl/en/policies/privacy/" target="_blank">here.</a>  You can also opt-out
				of Google Analytics <a class="a-link-color inner-link" href="https://tools.google.com/dlpage/gaoptout" target="_blank">here.</a></p>

			<p class="mrt50 heading1">Do not track</p>
			<p class="content">Please note that we do not alter our Site’s data collection and use practices
				when we see a ‘Do Not Track’ signal from your browser.</p>

			<p class="mrt50 heading1">Contact us</p>
			<p class="mrb45 content">For more information about our privacy practices, if you have questions, or if you would like to make a complaint,
				please contact us by e-mail at <span class="a-link-color inner-link">hello@socksoho.com.</span></p>

		</div>
	</div>
