<div class="row footer justify-content-center">
  <div class="col-sm-9">
    <div class="row mrb15">
      <div class="col-md-3 f-logo">
        <div>
          <a routerLink="/"><img class="symbol-logo" src="assets/img/logo-symbol-black.png"></a>
        </div>
      </div>
      <div class="col-3 col-sm-4 col-md-3">
        <p class="c-custom">
          <a routerLink="/faqs" class="link-custom">FAQs</a><br>
          <a routerLink="/returns" class="link-custom">Returns</a><br>
          <a routerLink="/cancellation-refunds" class="link-custom">Refunds & Cancellations</a><br>
          <a routerLink="/contact" class="link-custom">Support</a>
        </p>
      </div>
      <div class="col-3 col-sm-4 col-md-3">
        <p class="c-custom">
          <a routerLink="/careers" class="link-custom">Careers</a><br>
          <a routerLink="/contact" class="link-custom">Contact</a><br>
          <a routerLink="/policies" class="link-custom">Policies</a><br>
          <a routerLink="/tandC" class="link-custom">Terms & Conditions</a>
        </p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 text-center ">
        <p class="c-custom">
          What are we baking next for your feet?
          Sign up for our newsletter to know.
        </p>
        <form [formGroup]="subscribeForm" name="subscribe">
          <div *ngIf="!subscribed" class="input-group">
            <input formControlName="email" type="email" class="form-control input-field" name="email" placeholder="Email">
            <span class="footer-feedback-send" id="footer-feedback-send"><i id="subscribe" class="fas fa-arrow-right" (click)="subscribe()"></i></span>
            <p *ngIf="subscribeForm.controls.email.dirty && subscribeForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
          </div>
          <div class="subscribed-notif" *ngIf="subscribed">
            <p class="content3">You have successfully subscribed</p>
          </div>
        </form>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="social-links text-center">
          <li><a href="https://www.instagram.com/socksoho/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/socksoho/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/socksoho" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="contact-info text-center c-custom">
          <li><i class="far fa-envelope"></i> hello@socksoho.com </li>
          <li><i class="fas fa-phone fa-rotate-90"></i> +1-(646)-948-6845 | +91-7347427124 </li>
          <!-- <li><i class="fas fa-phone fa-rotate-90"></i> +91-8847395514 </li> -->
          <!-- <li><i class="fab fa-whatsapp"></i> +1-716-292-8720 (Whatsapp)</li> -->
        </ul>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <p class="t-custom">© SockSoho 2019 All rights reserved</p>
    </div>
  </div>
  <div class="w-100"></div>
</div>
