.footer {
  background: #FAFAFA;
  padding: 50px 0 35px;

}

.footer .c-custom, .footer .link-custom {
  color: #9B9B9B;
  font-size: .75rem;
  text-align: left;
  margin-bottom: 10px;
}

a:hover{
  text-decoration: underline;
}

.footer .t-custom {
  color: #9B9B9B;
  font-size: .75rem;
  text-align: center;
}

.symbol-logo{
  height: 40px;
  width: 40px;
  opacity:0.4;
}

ul.social-links {
  list-style: none;
}

ul.social-links li, ul.contact-info li {
  display: inline-block;
  padding-right: 8px;
}

ul.social-links li a{
  color: #b1b1b1;
}

ul.footer-nav {
  list-style: none;
}

ul.footer-nav li {
  display: inline-block;
  padding-right: 10px;
}

ul.footer-nav li a {
  font-size: .75rem;
  color: #747474;
}

ul.footer-nav li:hover a {
  color: #fff;
}

form input {
  margin-bottom: 10px;
  border-radius: 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(155,155,155);
  padding: 0px;
  background-color: #FAFAFA
}

form input::placeholder {
  font-size: .7rem;
  font-weight: normal;
  color: #9B9B9B;
}

.validation-error {
  margin-top: -10px !important;
}


.input-group .footer-feedback-send {
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: .8rem;
    z-index: 999;
}

@media(max-width: 768px){
  .f-logo{
    display: none;
}
  .footer {
      padding: 50px 20px;
  }
  .social-links{
      padding-top: 10px;
  }
  .col-sm-3{
    margin: auto;
  }
  .footer .c-custom, .footer .link-custom {
    margin-bottom: 0px;
  }
}
