<div class="row forgot-password-wrapper">
  <div class="col-sm-12">
    <div class="my-account-img">
      <p class="heading1 init">My Account</p>
    </div>
    <div class="row form-wrapper justify-content-center">
      <div class="col-sm-6">
          <div class="row justify-content-center">
              <div class="col-sm-9">
                  <div>
                      <p class="heading1">REGISTERED USERS</p>
                      <p class="content4">ALREADY HAVE AN ACCOUNT? LOGIN HERE.</p>
                      <form [formGroup]="loginForm" name="login">
                        <div class="input-group">
                          <input type="email" class="form-control" name="login-email" formControlName="email" placeholder="Email">
                          <p *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
                        </div>

                        <div class="input-group">
                          <input type="password" class="form-control" name="login-password" formControlName="password" placeholder="Password">
                          <p *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.invalid" class="validation-error text-danger">Enter a password</p>
                        </div>
                          <a href="javascript:void" data-toggle="modal" data-target="#forgotModal" class="content4">Forgot password?</a>
                          <div class="btn-wrapper">
                            <button type="button" class="login-btn btn bttn-fill-dark" (click)="login()">LOGIN</button>
                          </div>
                      </form>
                      <div class="social-login">
                          <a class="btn btn-fb btn-social-media" (click)="socialSignIn('facebook')"><i class="fab fa-facebook-f mr-2"></i> Login with Facebook</a>
                          <a class="btn btn-google btn-social-media" (click)="socialSignIn('google')"><i class="fab fa-google mr-2"></i> Login with Google</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="row justify-content-center">
              <div class="col-sm-9">
                  <div class="register-container">
                      <div class="vertical-separator"></div>
                      <p class="heading1">SIGN UP</p>
                      <p class="content4">CREATE AN ACCOUNT HERE.</p>
                      <form [formGroup]="registerForm" name="registerForm">
                          <div class="input-group">
                            <input type="name" class="form-control" name="register-name" formControlName="name" placeholder="Name">
                            <p *ngIf="registerForm.controls.name.dirty && registerForm.controls.name.invalid" class="validation-error text-danger">Enter a name</p>
                          </div>
                          <div class="input-group">
                            <input type="email" class="form-control" name="register-email" formControlName="email" placeholder="Email">
                            <p *ngIf="registerForm.controls.email.dirty && registerForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
                          </div>
                          <div class="input-group">
                            <input type="password" class="form-control" name="register-password" formControlName="password" placeholder="Password">
                            <p *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.invalid" class="validation-error text-danger">Password length should be 6 - 15</p>
                          </div>
                          <div class="input-group">
                            <input type="password" class="form-control" name="register-cnfrmPassword" formControlName="cnfrmPassword" placeholder="Confirm password">
                            <p *ngIf="isInvalid" class="validation-error text-danger">Password doesnt match</p>
                          </div>
                          <input type="checkbox" id="newsletter_subscribed" name="newsletter_subscribed" formControlName="newsletter_subscribed">
                          <label class="content4" for="newsletter_subscribed">Subscribe to our newsletter.</label>
                          <div class="btn-wrapper">
                            <button id="register" class="btn bttn-fill-dark" (click)="register()">REGISTER</button>
                          </div>
                        
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotModalLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <form *ngIf="!isEmailSent" [formGroup]="forgotForm" name="forgotForm">
                    <div class="input-group">
                      <input type="email" class="form-control" name="forgot-email" formControlName="email" placeholder="Email">
                      <p *ngIf="forgotForm.controls.email.dirty && forgotForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn bttn-clean-black" (click)="forgotPassword()">Next</button>
                    </div>
                </form>
                <p *ngIf="isEmailSent" class="content2 mb-5">Please check your email</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
