.my-account-img {
  height: 25vh;
}

.my-account-img .heading1 {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  padding-top: 10vh;
  font-weight: lighter;
}

.my-account-wrapper .heading1 {
  margin-bottom: .5rem;
}

.form-wrapper {
  padding: 50px 0 70px;
}

form {
  padding: 40px 0 35px;
}

form input {
  margin-bottom: 15px;
  padding: 0px;
  border-radius: 0;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgb(155,155,155);
}

form input::placeholder {
  font-size: .875rem;
  font-weight: normal;
  color: #9B9B9B;
}

form .btn {
  margin-top: 25px;
}

.register-container input[type=checkbox] {
    height: 1rem;
    vertical-align: sub;
    margin-bottom: 0
}

.register-container label {
    margin-bottom: 0;
}

.social-login .btn {
  text-align: left;
  padding: 10px 20px;
  border-radius: 0;
  color: #fff;
  font-family: 'Lato';
  font-size: .875rem;
  width: 200px;
  margin-bottom: 10px;
}

.social-login .btn-fb {
  background: #48629B;
}
.social-login .btn-google {
  background: #DC4B38;
}

.register-container {
    position: relative;
}

.btn-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-container .vertical-separator {
    position: absolute;
    left: -20%;
    height: 100%;
    width: 1px;
    background: #eee;
}

@media(max-width:768px){
  .forgot-password-wrapper{
    padding: 0px 20px;
  }

  .form-wrapper {
    padding: 10px 0 70px;
  }

  .social-login{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(155,155,155, 0.5);
  }

  .register-container {
      padding-top: 30px;
  }
}
