.validator-icon {
  right: 7% !important;
}

.checkout-wrapper{
    padding: 3rem 0 5rem;
}

.checkout-wrapper .c-custom {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.checkout-wrapper .info-wrapper{
   border: 0.5px solid rgba(204,204,204,0.5);
   padding: 30px;
}
.order-summary-wrapper {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.text-align-centre{
  text-align: center;
}

.offer-text{
    color: #B51700;
}

.info-wrapper .heading1{
  margin: 20px 40px;
}

form {
  padding: 40px 40px 35px;
}

form[name=shippingForm] input, form[name=discountCouponForm] input {
  padding: 0px;
  border-radius: 0;
  height: 45px;
  border: none;
  border: 1px solid rgba(155,155,155, 0.5);
  margin: 0px 20px 15px 0px;
  width: 80%;
}

form input {
  padding-left: 15px !important;
}


form input::placeholder {
  font-size: .875rem;
  font-weight: normal;
  color: #9B9B9B;
}

form .btn {
  margin-top: 25px;
}

.edit-bag{
  text-decoration: underline !important;
}

/* .row img{
  width:50px;
  height:50px;
} */

.edit-bag:hover{
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.shipping-info-bar{
  border-right: 1px solid rgba(155,155,155, 0.5);
}

.static-ship-wrapper{
  padding: 10px 10px 20px;
  margin-right: 50px;
}

.static-ship-wrapper .payment-row{
  padding:20px 0px 0px 20px;
}

.payment-row .heading1{
    margin: 10px 40px 0px 0px;
    font-weight: bold;
}

.cart-row{
  padding: 10px;
}

@media(max-width:768px){
  .mrb15 {
    margin-bottom: 15px !important;
  }
  .checkout-wrapper .c-custom {
      margin: 2rem 0rem;
  }
  .shipping-info-bar{
    border-right: none;
    border-bottom: 1px solid rgba(155,155,155, 0.5);
    padding-bottom: 10px;
  }

  form {
    padding: 40px 5px 35px;
  }

  form input {
    width: 100%;
  }

  .btn-wrapper a{
    width: 100%;
  }

  .cart-row{
    padding: 15px 0px;
  }

  .info-wrapper .heading1{
    margin: 20px 0px 20px 10px;
  }

  .checkout-wrapper{
      padding: 3rem 0 0rem;
  }

  .checkout-wrapper .info-wrapper{
     border-bottom: 0;
     padding: 10px;
   }
   .price-tag{
     margin-top: 10px;
     font-size: .9rem;
     color: rgb(116, 116, 116);
   }
   /* .edit-bag-option{
     display: none;
   } */
   .small-screen-hidden{
     display:none;
   }
   .payment-row .heading1{
       margin: 20px 40px;
   }
   .continue-button{
     width: 95%;
   }
}

@media(min-width:786px){
  .price-tag{
    float: right;
    font-size: 0.9rem;
    color: rgb(80, 80, 80);
  }
  .big-screen-hidden{
    display: none;
  }
}

.paymentSuccessModal {
 padding: 40px 30px;
}

.orderPlacedModal .heading1{
  margin-bottom: 1rem;
}

.link-custom{
  text-decoration: underline;
  color: rgb(80, 80, 80) !important;
}

.link-custom-heading{
  color: rgb(51, 51, 51) !important;
}

.link-custom-heading:hover{
  text-decoration: underline;
}

.subscribe-form-label{
  padding: 40px 30px 20px 0px;
}

.error{
  color: #cc0000;
}

.last-checkout-form{
  border-right: 1px solid rgba(155,155,155, 0.5);
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.modal-body .link-custom {
  color: #9B9B9B;
  text-align: left;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
