<div class="row checkout-wrapper">
  <div class="col-sm-12">
    <p class="c-custom text-center init">Checkout</p>
  </div>
  <div class="col-sm-12">
    <div class="row info-wrapper">
      <div class="col-sm-7">
        <div class="row">
          <p class="heading1">
            <a routerLink="/cart" class="link-custom-heading">Cart </a><i class="fas fa-angle-right"></i>
            <a (click)="changeScreen(1)">Shipping address</a> <i class="fas fa-angle-right"></i>
            <a>Payment method</a>
            <br>
            <!-- <span class="content1"><i><strong>**We offer free shipping within India.</strong></i></span> -->
          </p>

        </div>
        <div *ngIf="currentScreen==1" class="row shipping-info-bar">
          <form [formGroup]="shippingForm" (submit)="saveAddress()" name="shippingForm" class="w-100">
            <div class="input-group">
              <input type="name" class="form-control" name="checkout-name" formControlName="name" placeholder="Name*">
              <p *ngIf="shippingForm.controls.name.dirty && shippingForm.controls.name.invalid" class="validation-error text-danger">Enter a name</p>
            </div>
            <div class="input-group">
              <input type="email" class="form-control" name="checkout-email" formControlName="email" placeholder="Email*">
              <p *ngIf="shippingForm.controls.email.dirty && shippingForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
            </div>
            <div class="input-group">
              <input type="phone" class="form-control" name="checkout-phone" formControlName="phone" placeholder="Contact Number*">
              <p *ngIf="shippingForm.controls.phone.dirty && shippingForm.controls.phone.invalid" class="validation-error text-danger">Enter a phone</p>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="checkout-address" formControlName="address" placeholder="Address*">
              <p *ngIf="shippingForm.controls.address.dirty && shippingForm.controls.address.invalid" class="validation-error text-danger">Enter address</p>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="checkout-city" formControlName="city" placeholder="City*">
              <p *ngIf="shippingForm.controls.city.dirty && shippingForm.controls.city.invalid" class="validation-error text-danger">Enter city</p>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="checkout-state" formControlName="state" placeholder="State*">
              <p *ngIf="shippingForm.controls.state.dirty && shippingForm.controls.state.invalid" class="validation-error text-danger">Enter state</p>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="checkout-country" formControlName="country" placeholder="Country*">
              <p *ngIf="shippingForm.controls.country.dirty && shippingForm.controls.country.invalid" class="validation-error text-danger">Enter country</p>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="checkout-pincode" formControlName="pincode" placeholder="Pincode*">
              <p *ngIf="shippingForm.controls.pincode.dirty && shippingForm.controls.pincode.invalid" class="validation-error text-danger">Enter pincode</p>
            </div>
            <div class="btn-wrapper">
              <button id="payment" class="btn bttn-fill-dark continue-button" type="submit">Continue >></button>
            </div>

          </form>
        </div>
        <!--  NExt Page-->
        <div *ngIf="currentScreen==2" class="static-ship-wrapper last-checkout-form">
          <div class="row payment-row">
            <div class="col-sm-3">
              <p class="content1">Contact</p>
            </div>
            <div class="col-sm-9">
              <p class=".content float-left">{{shippingAddress.email}}</p>
            </div>
          </div>
          <div class="row payment-row">
            <div class="col-sm-3">
              <p class="content1">Ship to</p>
            </div>
            <div class="col-sm-8">
              <p class=".content float-left">{{shippingAddress.address}}, {{shippingAddress.city}}, {{shippingAddress.state}}, {{shippingAddress.country}}, {{shippingAddress.pincode}} </p>
            </div>
          </div>
          <div class="row payment-row">
            <div class="col-sm-3">
              <p class="content1">Estimated Delivery Time</p>
            </div>
            <div class="col-sm-9">
              <p class=".content float-left" *ngIf="razorpay">{{delivery_days}} days </p>
              <p class=".content float-left" *ngIf="paypal">8 - 12 days </p>
            </div>
          </div>
          <hr>


          <div class="row payment-row pdt0">
            <div class="col-sm-12 col-12">
              <p class="heading1">Pay Now</p>
              <div *ngIf="paypal" class="col-12" style="padding: 15px 0;">
                <div id="paypal-button-container"></div>
              </div>

              <form name="paymentMode row">
                <div class="form-check">
                  <div *ngIf="razorpay && delivery_available" class="col col-1">
                    <input checked="true" (change)="paymentMode($event)" class="form-check-input" type="radio" name="paymentType" id="card" value="Online-razorpay">
                  </div>
                  <div checked="true" *ngIf="razorpay && delivery_available" class="col offset-1 col-10">
                    <label class="form-check-label" for="card">Debit/Credit Card</label>
                  </div>

                  <div *ngIf="razorpay && delivery_available" class="col col-1">
                    <input (change)="paymentMode($event)" class="form-check-input" type="radio" name="paymentType" id="netbanking" value="Online-razorpay">
                  </div>
                  <div *ngIf="razorpay && delivery_available" class="col offset-1 col-10">
                    <label class="form-check-label" for="netbanking">Netbanking</label>
                  </div>

                  <div *ngIf="razorpay && delivery_available" class="col col-1">
                    <input (change)="paymentMode($event)" class="form-check-input" type="radio" name="paymentType" id="upi" value="Online-razorpay">
                  </div>
                  <div *ngIf="razorpay && delivery_available" class="col offset-1 col-10">
                    <label class="form-check-label" for="upi">UPI</label>
                  </div>

                  <div *ngIf="razorpay && delivery_available" class="col col-1">
                    <input (change)="paymentMode($event)" class="form-check-input" type="radio" name="paymentType" id="wallet" value="Online-razorpay">
                  </div>
                  <div *ngIf="razorpay && delivery_available" class="col offset-1 col-10">
                    <label class="form-check-label" for="wallet">Wallet</label>
                  </div>
                </div>

                <div class="form-check" *ngIf="subTotalINR < 499">
                   <div *ngIf="razorpay && delivery_available" class="col col-1">
                    <input (change)="paymentMode($event)" class="form-check-input" type="radio" name="paymentType" id="cod" value="cashOnDelivery" [attr.disabled]="subTotalINR > 499">
                  </div>
                  <div checked="true" *ngIf="razorpay && delivery_available" class="col offset-1 col-10">
                    <label class="form-check-label content2" for="cod">Cash On Delivery<span><i>(available only on orders above 499)</i></span></label>
                  </div>
                </div>

                <div class="form-check" *ngIf="subTotalINR >= 499">
                   <div *ngIf="razorpay && delivery_available" class="col col-1">
                    <input (change)="paymentMode($event)" class="form-check-input" type="radio" name="paymentType" id="cod" value="cashOnDelivery">
                  </div>
                  <div checked="true" *ngIf="razorpay && delivery_available" class="col offset-1 col-10">
                    <label class="form-check-label" for="cod">Cash On Delivery</label>
                  </div>
                </div>

              </form>
            </div>
            <div class="col-sm-12 col-12" align="center" style="max-width: 360px;">
                <a id="purchase" *ngIf="razorpay && delivery_available" (click)="placeOrder('Online-razorpay')" href="javascript:void" class="btn bttn-fill-dark w-100">Place Order</a>
            </div>
          </div>
        </div>
        <!--  NExt Page Ends-->
      </div>

      <div class="col-sm-5 edit-bag-option">
        <p class="heading1 big-screen-hidden small-screen-hidden"> Have any Coupon Code?</p>
        <div class="row small-screen-hidden">
          <p class="heading1">Order Summary <a routerLink="/cart" class="heading2 edit-bag">Edit bag</a></p>
        </div>
        <!--Changing code below-->
        <div class="order-summary-wrapper">
          <div *ngFor="let item of myCart.items" class="row cart-row mrb15 small-screen-hidden">
              <div class="col-sm-2 no-padding">
                <img [src]="item.imgSrc" class="img-fluid mrb10-m">
              </div>
              <div class="col-sm-6">
                <p class="content">{{item.product_title}}</p>
                <!-- <p class="content1">Size: {{item.size.size}}</p> -->
                <p class="content1">Size: Free size (UK 7-12)</p>
                <p class="content1" *ngIf="item.product_id>4">Length:
                    <span *ngIf="item.product_id>6">
                      <span *ngFor="let size of item.availSizes; index as i2">
                      <span *ngIf="item.size_id==size.Size_id">
                        <span>{{size.varchar_field_value}}</span>
                      </span>
                      </span>
                    </span>
                    </p>
              </div>
              <div class="col-sm-4">
                <p class="price-tag" *ngIf="! razorpay && ! paypal">₹ {{item.totalPriceINR}} / USD {{item.totalPriceUSD}}</p>
                <p class="price-tag" *ngIf="razorpay">₹ {{item.totalPriceINR}}</p>
                <p class="price-tag" *ngIf="paypal">USD {{item.totalPriceUSD}}</p>
                <br>
                <p class="price-tag">Qty: <span class="size-value">{{item.quantity}}</span></p>
              </div>
          </div>

          <hr class="small-screen-hidden">
          <div class="row">
          <div class="col-sm-12">
          <div class="float-left" *ngIf="! razorpay && ! paypal">
            <p class="content">Subtotal</p>
            <p class="content" *ngIf="discountValid">Discount</p>
          </div>
          <div class="float-right" *ngIf="! razorpay && ! paypal">
            <p class="content">₹ {{myCart.info.subTotalINR}} / USD {{myCart.info.subTotalUSD}} </p>
            <p class="content" *ngIf="discountValid">- ₹ {{discountINR}}/ USD {{discountUSD}}</p>
          </div>
          </div>
          </div>



        </div>
        <!--Changing Code above-->
        <!-- <hr>
        <hr> -->

        <div class="row cart-row" *ngIf="razorpay || paypal">
          <div class="col-7 col-sm-7">
            <p class="content">Subtotal</p>
            <!-- <p class="content">GST</p> -->
            <p class="content" *ngIf="delivery_available && !paypal">Shipping</p>
            <p class="content" *ngIf="paypal">Shipping</p>
            <p class="content" *ngIf="discountValid">Discount</p>
            <p class="content mrt20"><strong>Total</strong></p>
          </div>

          <!-- India -->
          <div class="col-5 col-sm-5" align="right" *ngIf="razorpay">
            <p class="content">₹ {{myCart.info.subTotalINR}}</p>
            <!-- <p class="content">₹{{gstCharges}} / USD 0</p> -->
            <!-- <p class="content1">₹{{miscCharges.delivery}}</p> -->
            <!-- <p class="content" *ngIf="delivery_available">₹ {{delivery_charges}}</p> -->
            <p class="content" *ngIf="delivery_available"><strong>FREE</strong></p>
            <p class="content" *ngIf="discountValid">₹ {{discountINR}}</p>
            <p class="content mrt20"><strong>₹ {{amountPayableINR}}</strong></p>
          </div>

          <!-- abroad -->
          <div class="col-5 col-sm-5" align="right" *ngIf="paypal">
            <p class="content">USD {{myCart.info.subTotalUSD}}</p>
            <!-- <p class="content">₹{{gstCharges}} / USD 0</p> -->
            <!-- <p class="content1">₹{{miscCharges.delivery}}</p> -->
            <!-- <p class="content"><strong>USD 15**</strong></p> -->
            <p class="content">USD {{usa_delivery_charges}}</p>
            <p class="content" *ngIf="discountValid">USD {{discountUSD}}</p>
            <p class="content mrt20">USD {{amountPayableUSD+usa_delivery_charges}}</p>
          </div>

          <div class="row cart-row small-screen-hidden">
            <div class="col-12">
            <p class="content1 mrt20 offer-text"><i>*Free shipping within India</i></p>
            <p class="content1 mrt10 offer-text"><i>**Free international shipping on orders above $50</i></p>
          </div>
          </div>

        </div>

        <form (submit)="applyDiscountCode()" name="discountForm" class="w-100 small-screen-hidden" style="padding:15px 0 0 0; float: left;">
                <div class="input-group">
                <input type="text" [(ngModel)]="discountInput" required class="form-control mrb15" name="discountCode" placeholder="Coupon Code (If any)" style="height:45px;">
                <button id="couponCode" class="btn bttn-fill-dark continue-button" type="submit" style="margin:0;">Apply >></button>
              </div>
              <p class="content1"><i>**Coupon codes valid on orders above 499</i></p>
              <p *ngIf="discountValid">Discount code successfully applied</p>
              <p *ngIf="discountValid===false">Invalid Code</p>
        </form>
      </div>


    </div>
  </div>
</div>
<div class="modal fade" align="center" id="cashOnDeliveryConfirmationPopup" tabindex="-1" role="dialog" aria-labelledby="cashOnDeliveryConfirmationPopup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderPlacedLabel">Please Confirm!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body orderPlacedModal">
        <div class="row justify-content-center">
          <div class="col-sm-10 text-center">
            <p class="content">We just want to confirm that you will be making Cash on Delivery before we finalize your order.</p>
            <br>
            <button (click)="cashOnDeliveryConfirmed()" type="button" class="btn bttn-fill-dark">Confirm my order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" align="center" id="orderPlaced" tabindex="-1" role="dialog" aria-labelledby="orderPlacedLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderPlacedLabel">Order Placed!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body orderPlacedModal">
        <div class="row justify-content-center">
          <div class="col-sm-10 text-center">
            <!-- <img src="https://socksbakery.postaffiliatepro.com/scripts/29fyaax2hs2?AccountId=default1&TotalCost=120.50&OrderID=ORD_12345XYZ&ProductID=test_product" width="1" height="1" > -->
            <p class="content">Your order has been placed. You will be notified once your socks are dispatched.</p>
            <p *ngIf="placeOrderBtn.type=='cashOnDelivery'" class="content1">Our executive will call you at {{shippingAddress.phone}} to confirm the order.</p>
            <!--<p class="content1">You can track your order <a (click)="hideModal()" class="link-custom" routerLink="/orders">here.</a></p>-->
            <br>
            <a (click)="hideModal()" routerLink="/collections" class="btn bttn-fill-dark">Shop More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" align="center" id="shipMessage" tabindex="-1" role="dialog" aria-labelledby="orderPlacedLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderPlacedLabel"><i class="fas fa-exclamation-triangle error"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body orderPlacedModal">
        <div class="row justify-content-center">
          <div class="col-sm-10 text-center">
            <p class="content">Sorry, we don't ship to this pincode currently</p>
            <br>

            <a (click)="hideModal()" href="/checkout" class="btn bttn-fill-dark">Ship to another address</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
