.cart-wrapper {
    padding: 3rem 0 5rem;
}

.cart-wrapper .c-custom {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.cart-wrapper .heading1 {
    margin-bottom: 0.2rem;
}

.cart-wrapper .content1 {
    margin-bottom: 1rem;
}

.cart-wrapper .content {
    color: #9b9b9b;
    margin-bottom: 1rem;
}

.cart-element .heading2{
  padding-top: 80px;
  float: right;
}

.cart-wrapper .content .size-value {
    color: #000;
}

.cart-element .sm-label{
  display: none;
}

.cart-element .del-icon-sm{
  display: none;
}

.quantity-box {
    border: 1px solid #eee;
    width: 110px;
    background: #fafafa;
    float: right;
}

.quantity-box input {
    border: none;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    width: 40px;
    padding-top: 3%;
    text-align: center;
}

.quantity-box .icons {
    font-size: .8rem;
    vertical-align: text-top;
    text-align: center;
    width: 27px;
    display: inline-block;
}

#emptyImage{
    width: 100%;
    margin-top: 0;
}

#emptyImage .img{
  padding-right: 20px;
  width: 400px;
  height: 300px;
  margin: auto;
}



.subtotal {
    position: relative;
}

.subtotal .content1 {
    color: #000;
}

.vertical-separator {
    position: absolute;
    left: -25%;
    height: 100%;
    background: #eee;
    width: 1px;
}

.cart-wrapper .separator{
    margin: 30px 30px 0px;
    padding: 40px 30px 0px;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media (max-width:767.9px) {
  .cart-wrapper .c-custom {
    margin: 2rem 0rem 1rem;
  }
  .cart-element .heading1{
    padding-top: 10px;
    text-align: center;
    width:100%;
  }
  .cart-element .content1 {
      text-align: center;
      width:100%;
  }
  .cart-element .content{
    width: 50%;
    float: left;
    text-align: center;
  }
  .cart-element .edition{
    display: none;
  }
  .cart-element .size-box{
    width: 100% !important;
  }
  .cart-element .sm-label{
    display: inline;
  }
  .quantity-box {
    float: left;
  }
  .cart-element .heading2{
    padding-top: 5px;
    float:left;
    width: 100%;
  }
  .cart-element .del-icon-sm{
    display: inline;
    float: right;
    font-size:
  }
  .del-icon-sm{
    color: #c1c1c1;
  }
  .del-icon-lg{
    display: none;
  }
  .subtotal{
    text-align: center;
  }
  .subtotal .heading1{
    padding-top: 20px;
    text-align: center;
  }
  #emptyImage .img{
    padding-right:20px;
    width: 300px;
    height: 250px;
    margin: auto;
  }
  .cart-wrapper .separator{
      margin: 0px;
      padding: 0px;
  }

}
