 <div class="row cart-wrapper">

    <div class="col-sm-12">
        <p class="c-custom text-center init">My Cart</p>
    </div>
    <div class="col-sm-12" *ngIf="myCart.items == 0">
            <p class="text-center content">Your cart is empty</p>
        <div class="col-sm-12" id="emptyImage">
            <div class="img text-center">
              <img src="assets/img/web-cart.png" class="img-fluid">
              <a routerLink="/collections" class="text-center btn bttn-fill-dark">Shop Socks Now</a>
            </div>
        </div>
    </div>

    <div class="col-sm-8" *ngIf="myCart.items != 0">
          <ng-container *ngFor="let item of myCart.items; index as i">
              <div class="row cart-element">
                <div class="col-sm-3">
                    <img [src]="item.imgSrc" class="img-fluid">
                </div>
                <div class="col-sm-6 col-12">
                    <p class="heading1">{{item.product_title}}
                      <span (click)="deleteFromCart(i)">
                        <i class="fas fa-times del-icon-sm"></i>
                      </span>
                    </p>

                    <p class="content1 edition">{{item.edition}}</p>
                    <p class="content mrt10 size-box" *ngIf="item.product_id>4" style="margin:0;">Length:
                    <span *ngIf="item.product_id>6">
                      <span *ngFor="let size of item.availSizes; index as i2">
                      <span *ngIf="item.size_id==size.Size_id">
                        <span>{{size.varchar_field_value}}</span>
                      </span>
                      </span>
                    </span>
                    </p>
                    <p class="content size-box">Size: Free Size (UK 7-12)</p>

                    <span (click)="deleteFromCart(i)"><i class="far fa-trash-alt del-icon-lg"></i></span>

                </div>
                <div class="col-sm-3 col-12">
                  <p class="content sm-label">Qty:</p>
                  <div class="quantity-box">
                        <div class="icons" (click)="changeQuantity('minus', i)"><i class="fas fa-minus"></i></div>
                        <input type="text" name="quantity{{i}}" [value]="item.quantity">
                        <div class="icons" (click)="changeQuantity('plus', i)"><i class="fas fa-plus"></i></div>
                  </div>
                  <p class="heading2"><span class="content sm-label">Price:</span> ₹ {{item.totalPriceINR}} / USD {{item.totalPriceUSD}}</p>
                </div>
            </div>

            <div class="row separator "></div>
        </ng-container>

      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3" *ngIf="myCart.items != 0">
        <div class="subtotal">
          <div class="vertical-separator"></div>
          <p class="heading1">Subtotal
            <span class="heading2">({{myCart.items.totalItems}} items)</span>
            <br>
            <span class="heading2">₹{{myCart.info.subTotalINR || 0}} / USD {{myCart.info.subTotalUSD || 0}}</span>
          </p>

          <a routerLink="/checkout" id="checkout" class="btn bttn-fill-dark w-100">Checkout</a>
      

          <hr>
          <a routerLink="/collections"><p class="content1 text-center">CONTINUE SHOPPING</p></a>
          <hr>
        </div>
      </div>

</div>
