<div class="wrapper">
  <div class="col-sm-12 ">
        <div class="about-us-img">
            <h1 class="heading1">About SockSoho</h1>

        </div><br>
      <!-- <p class="c-custom text-center heading1">About Us</p> -->
      <!-- <p class="text-center sub-heading-2"><b>Disclaimer:</b> We go a little nostalgic and a lot fiery here.</p> -->
  </div>

  <div class="col-sm-12 align-text-center mrb35 mrt10">
    <p class="content static-content">
      We make designer socks for passionate men.
      <br><br>
      But, more than that, we are on the move to redefine the way you
      express yourself. Instead of keeping up with the latest fashion, you’ll be starting a trend with your passion.
      <br><br>
      It all began in Wall Street. The place was filled with driven and passionate people. With their
      dapper suits, they all looked similar. Except one. His black suit made him look like them.
      But his socks were colourful. A stark contrast. Was it a sign of confidence? Self-expression? Or was he just enjoying being himself?
      SockSoho was born in the length of that question.
      <br><br>
      It is a high time to throw away your boring socks and bring in some passion into your wardrobe!
      <br><br>
      <!-- <span class="highlight margin">PASSION<br></span> -->
      <span class="highlight">BE FASHION SPECIFIC</span>
      <br><br>
      <a href="/collections" class="btn bttn-fill-dark">Shop Now</a>
    </p>
  </div>

    <!-- <div class="col-sm-12 align-text-center mrb35 mrt40">
      <p class="content static-content">
        We are SockSoHo. No, we don’t bake anything but we do make socks. Socks for men.
        <br><br>
        <span class="highlight">Passionate men like you.</span>
        <br><br>
        It all began in Wall Street.<br>
        The place was filled with driven, hard-working and passionate men. They had a gleam in their eyes, and confidence in their steps.<br>
        With their dapper suits and confidence, they all looked similar. Except one.<br>
        His black suit made him look like them.<br>
        But his socks were colourful. A stark contrast.<br>
        Was it a sign of rebellion?<br>
        Self-expression?<br>
        Was he making a statement?<br>
        He had said good-bye to black, gray, blue and white colours that have been imposed on men.<br>
        A highly successful man proudly displaying his personality via socks?<br>
        The Socks Bakery was born in the length of that question.<br>
        <br>
        <span class="highlight">We celebrate passion.</span><br>
        <br>
        The Socks Bakery is for men like you. Men, who are passionate and confident.<br>
        Men who believe in themselves.<br>
        <br>
        <span class="highlight">We celebrate passionate men who aren’t afraid to show the world what they stand for.</span><br>
        On the surface, we design socks.<br>
        But, more than that, we are on the move to redefine the way you express yourself. We want you to take pride in your mission and for people to know that you are on one. The socks serve as a reminder of what excites you.<br>
        Instead of keeping up with the latest fashion, you’ll be starting a trend with your passion.<br><br>
        <span class="highlight margin">PASSION<br></span>
        <span class="highlight">BE <s>FASHION</s> SPECIFIC</span><br><br>

        <a href="/collections" class="btn bttn-fill-dark">Shop Now</a>
      </p>
    </div> -->
</div>
