
.wrapper{
	padding: 30px 10px;
	line-height: 1.7;
}

.c-custom{
	font-size: 3rem;
	text-align: center;
}

.head-wrapper{
	padding: 40px;
	margin-bottom: 2rem;
}

.highlight{
	font-weight: bold;
	color: rgb(80, 80, 80);
	padding: 5px;
}
.inner-link{
	text-decoration: underline;
}

.static-content{
  margin: 0px 50px 70px;
}

.outer-wrong{
	color: rgb(80,80,80);
	text-decoration: line-through;
}

.inner-wrong{
	color: red;
}
/*p {
	margin: 15px 0px 0px;
}*/

.inner-link{
	text-decoration: underline;
}



.about-us-img .heading1 {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  padding-top: 4vh;
  font-weight: lighter;
  margin-bottom: -1rem !important;
}

.margin{
	margin-right: 57px !important;
}

@media (max-width:768px) {
	.c-custom{
		font-size: 2rem;
		padding: 40px 0px;
	}

	.wrapper{
		padding: 30px 5px;
	}

  .static-content{
    margin: 0px;
  }
	.heading1{
		padding-top: 8vh !important;
	}

}
