.forgot-password-wrapper .heading1 {
  margin-bottom: .5rem;
  padding-top: 10vh;
}

form {
  padding: 40px 0 35px;
}

form input {
  margin-bottom: 15px;
  padding: 0px;
  border-radius: 0;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgb(155,155,155);
}

form input::placeholder {
  font-size: .875rem;
  font-weight: normal;
  color: #9B9B9B;
}

form .btn {
  margin-top: 25px;
}

.btn-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}
