<div class="row justify-content-center forgot-password-wrapper">
    <div class="col-sm-6">
        <div>
            <p class="heading1">RESET PASSWORD</p>
            <form [formGroup]="resetForm" name="resetForm">
              <div class="input-group">
                <input type="password" class="form-control" name="reset-password" formControlName="password" placeholder="New Password">
                <p *ngIf="resetForm.controls.password.dirty && resetForm.controls.password.invalid" class="validation-error text-danger">Password length should be 6 - 15</p>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" name="reset-password" formControlName="cnfrmPassword" placeholder="Confirm Password">
                <p *ngIf="isPasswordInvalid" class="validation-error text-danger">Password does not match</p>
              </div>
                <div class="btn-wrapper">
                  <button class="login-btn btn bttn-clean-black" (click)="reset()">RESET</button>
                </div>
            </form>
        </div>
    </div>
</div>
