.contact-us-wrapper{
  text-align: center;
}

.contact-us-img{
  height: 25vh;
}

.contact-us-img .heading1 {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  padding-top: 10vh;
  font-weight: lighter;
}

.heading1{
  text-align: center;
}

.form-wrapper {
  padding-bottom: 70px;
}

.validator-icon {
  top: 20px;
}
#req {
  height: 80px;
}
form {
  padding-bottom: 35px;
}

form textarea {
  margin-bottom: 15px;
  padding: 0px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgb(155,155,155);
}

form input{
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0px;
  border-radius: 0;
  height: 45px;
  border: none;
  border-bottom: 1px solid rgb(155,155,155);
}

form input::placeholder, form textarea::placeholder {
  font-size: .875rem;
  font-weight: normal;
  color: #9B9B9B;
}

form .btn {
  margin-top: 25px;
}

.contact-static{
  padding-top: 40px;
  text-align: center;
  color: rgb(80,80,80);
}

.contact-static-text{
  padding-top: 45px;
}

.align-me{
    margin-left: 47px;
}

@media (max-width: 991.98px) {
  #submit {
    width: 100%;
  }
  .contact-us-img .heading1 {
    padding-top: 5vh;
  }
  .contact-us-img{
    height: 15vh;
  }
}

@media (min-width: 992px) {
  #req {
    display: none;
  }
}
