<div class="contact-us-wrapper">
  <div class="col-sm-12">
    <div id="req">
    </div>
  </div>
  <div class="col-sm-12">
      <div class="contact-us-img">
        <h1 class="heading1">Contact Us</h1>
      </div>
  </div>
  <div class="col-sm-12">
    <div class="row content">
      <div class="col-sm-6">
          <!-- <p class="heading2">Email us:</p> -->
          <p>
            <i class="far fa-envelope"></i> hello@socksoho.com
          </p>
      </div>
      <div class="col-sm-6">
        <p>
          <i class="fas fa-phone fa-rotate-90"></i> +1-(646)-948-6845 <br> +91-7347427124
          <!-- <i class="fab fa-whatsapp"></i> +1-716-292-8720 -->
        </p>
      </div>
      <!-- <div class="col-sm-4">
          <p>
             <i class="fas fa-building"></i>
             India - FF1, City Emporium Mall, Chandigarh
             <br>
             USA - 330 W, 45th Street, New York
          </p>

      </div> -->
      <!-- <div class="col-sm-4">
        <p class="email-phone">
           <i class="fas fa-building"></i> India - FF1, City Emporium Mall, Chandigarh<br>USA - 330 W, 45th Street, New York
        </p>
      </div> -->
    </div>
    <div class="row justify-content-center contact-static-text">
      <div class="col-sm-8 align-text-center mrb35">
      <p class="heading1 mrb10">Facing a problem or just want to say hi?</p>
      <p class="content">
        Call/email us or fill in the form below and we will get back to you faster
        than the speed of light.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row form-wrapper justify-content-center content">
      <div class="col-sm-5">
        <form [formGroup]="contactForm" name="contact">
          <div class="input-group">
            <input type="name" class="form-control" name="contact-fName" formControlName="name" placeholder="Name">
            <p *ngIf="contactForm.controls.name.dirty && contactForm.controls.name.invalid" class="validation-error text-danger">Enter a Name</p>
          </div>
          <div class="input-group">
            <input type="email" class="form-control" name="contact-email" formControlName="email" placeholder="Email">
            <p *ngIf="contactForm.controls.email.dirty && contactForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" name="contact-phone" formControlName="contact" placeholder="Contact Number">
            <p *ngIf="contactForm.controls.contact.dirty && contactForm.controls.contact.invalid" class="validation-error text-danger">Enter a contact number</p>
          </div>
          <div class="input-group">
            <textarea rows="3" class="form-control" name="msg" formControlName="message" aria-describedby="message" placeholder="Enter your message"></textarea>
            <p *ngIf="contactForm.controls.message.dirty && contactForm.controls.message.invalid" class="validation-error text-danger">Message length should be atleast 10</p>
          </div>
          <div class="btn-wrapper align-text-center">
            <button class="btn bttn-fill-dark" id="submit" (click)="contact()">SEND</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
