.orders-wrapper {
	padding: 3rem 0 5rem;
	margin: 10px;
}

.orders-wrapper .c-custom {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.order-meta-row{
	border: 1px solid #eee;
	height: 100px;
	background-color: #f6f6f6;
	padding: 5px;
	margin-top: 30px;
}

.order-details{
	border: 1px solid #eee;
	border-top: 0;
	padding:20px;
}

.orders-wrapper .heading1 {
    margin-bottom: 0rem;
}

.orders-wrapper .content2 {
    margin-bottom: 1rem;
}

.bttn-fill-dark{
	padding: 10px 5px;
}

.order-details a{
	margin-top: 30px;
	width: 100%;
}

.separator{
    margin: 30px 30px 0px;
    padding: 40px 30px 0px;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media(min-width: 1024px){
	.orders-wrapper {
		margin: 0px 200px;
	}

	.order-meta-row{
		padding: 10px;
		height: 60px;
	}

	.order-details a{
		margin-top: 45px;
	}

	.float-right-con{
		float:right !important;
	}

	.order-details a{
		width: 50%;
	}

}
