<div class="row orders-wrapper">
    <div class="col-sm-12">
          <p class="c-custom text-center init">Your Orders</p>
    </div>

    <div class="col-sm-12" *ngFor="let order of orders">
    	<!-- <div class="col-sm-12"> -->
				<div class="row order-meta-row">
						<div class="col-3">
								<p class="content4">ORDER PLACED</p>
								<p class="content1">{{order[0].order_date}}</p>
						</div>
						<div class="col-2">
								<p class="content4">TOTAL</p>
								<p class="content1">INR {{order[0].total_amount}}</p>
						</div>
						<div class="col-3 col-sm-4">
								<p class="content4">SHIP TO</p>
								<p class="content1">{{order[0].ship_to}}</p>
						</div>
						<div class="col-4 col-sm-2">
								<p class="content4 float-right">ORDER</p>
								<p class="content1 float-right">{{order[0].order_no}}</p>
						</div>
				</div>

        <div *ngFor="let detail of order" class="row">
          <div  class="row order-details">
            <div class="col-sm-2">
                <img [src]="detail.image" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <p class="heading1">{{detail.product_name}}</p>
                <p class="content2">Price: ₹ {{detail.actual_price}}</p>
				        <p class="content">Size: Free Size (7-12)</p>
                <p class="content">Qty: {{detail.quantity}}</p>
            </div>
            <div class="col-sm-4">
								<!-- <p class="content float-right-con">Status: Shipping starts on Oct 8, 2018</p> -->
                <p class="content float-right-con">Status: {{detail.ship_status}}</p>
								<a class="btn bttn-fill-dark float-right-con" href="/description/{{detail.product_id}}">Buy Again</a>
            </div>
            <!-- <div class="row separator w-100"></div> -->
          </div>
      </div>
    <!-- </div> -->
  </div>
