
.wrapper{
	padding: 30px 10px;
}

.c-custom{
	font-size: 3rem;
	text-align: center;
	padding: 40px;
	margin-bottom: 2rem;
}

.inner-link{
	text-decoration: underline;
}

.sub-head {
	margin-top: 50px;
}

p {
	margin: 15px 0px 0px;
}

.data ol li, .ol-general li{
	padding: 2px 5px;
}



@media (max-width:768px) {
	.c-custom{
		font-size: 2rem;
		padding: 40px 0px;
	}
	.data li{
		padding: 20px 0px 0px;
	}
	ol {
		padding: 10px 0px 20px 20px;
	}
	.wrapper{
		padding: 30px 10px;
	}

}

@media (min-width:768px) {
	ol {
		padding: 10px 40px 20px;
	}

	.data li{
		padding: 20px 5px 20px;
	}
}
