@font-face {
  src: url('/assets/fonts/Arcon-Regular.otf');
  font-family: 'ArconRegular';
}

body {
  font-family: 'ArconRegular';
  margin-top: 80px;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}
bold-text{
  font-weight: bold;
}
a, a:hover {
  text-decoration: none;
}

button {
  background: none !important;
}

.ng-invalid.ng-dirty {
  border-bottom-color: #C82333 !important;
}

.input-group {
  position: relative;
}

.high-price{
   -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through;
}

.validation-error {
  margin-top: -15px !important;
  font-size: 12px;
  width: 100%;
}

.validator-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.validator-icon i {
  color: #C82333;
}

.align-text-center{
  text-align: center;
}

.align-text-left{
  text-align: left;
}

.heading1 {
  font-size: 1.5rem;
  color: rgb(51, 51, 51);
  margin-bottom: 2rem;
}

.heading2 {
  font-size: 1.125rem;
  color: rgb(80, 80, 80);
}

.sub-heading-1 {
  font-size: 1.5rem;
  color: rgb(51, 51, 51);
}

.sub-heading-1-grey {
  font-size: 1.3rem;
  color: rgb(80, 80, 80);
}

.sub-heading-2 {
  font-size: 1.1rem;
  color: rgb(51, 51, 51);
}

.sub-heading-2-grey{
  font-size: 1.1rem;
  color: rgb(116, 116, 116);
}

.a-link-color, .a-link-color:hover{
  color: rgb(116, 116, 116);
}

.btn-social-media {
  font-family: 'ArconRegular' !important;
}


.content{
  font-size: 1.05rem;
  color: rgb(80, 80, 80);
}


.content1 {
  font-size: .9rem;
  color: rgb(116, 116, 116);
}

.content2 {
  font-size: .875rem;
  color: rgb(116, 116, 116);
}

.content3 {
  font-size: .75rem;
  color: rgb(117, 117, 117);
}

.content4 {
  font-size: .70rem;
  color: rgb(116, 116, 116);
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.bttn-clean-black {
  color: rgb(80, 80, 80);
  border: 1px solid rgb(80, 80, 80);
  border-radius: 0;
  padding: 10px 30px;
  font-size: .875rem;
}

.bttn-clean-black-no-hover {
  color: rgb(80, 80, 80);
  border: 1px solid rgb(80, 80, 80);
  border-radius: 0;
  padding: 10px 30px;
  font-size: .875rem;
}

.bttn-clean-white {
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 30px;
  font-size: .875rem;
}

.bttn-fill-dark {
  background: #000 !important;
  border: 1px solid #000 !important;
  color: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 0;
  padding: 10px 30px;
  font-size: .875rem;
}

.bttn-clean-white:hover{
  background: #000 !important;
  border: 1px solid #000 !important;
}

.bttn-clean-black:hover{
  background: #000 !important;
  border: 1px solid #000 !important;
  color: #fff !important;
}

.mrb45 {
  padding-bottom: 45px;
}

.mrb15 {
  margin-bottom: 15px;
}
.mrb25 {
  margin-bottom: 25px;
}

.mrb35 {
  margin-bottom: 35px;
}

.mrb10 {
  margin-bottom: 10px;
}

.mrb0{
  margin-bottom: 0px;
}

.pdt0{
  padding-top: 0px !important;
}
.mrt80 {
  margin-top: 80px !important;
}

.mrt50 {
  margin-top: 50px !important;
}

.mrt40 {
  margin-top: 40px;
}

.mrt30 {
  margin-top: 30px;
}

.mrt20 {
  margin-top: 20px;
}

.mrt10 {
  margin-top: 10px;
}

.pdt5{
  padding-top: 5px;
}

.separator {
  height: 20px;
}

.padl-80{
  padding-left: 80px;
}

.no-padding{
  padding: 0px !important;
}

@media (max-width: 991.98px) {
  .init {
    margin-top: 75px;
  }
}

@media(max-width: 768px){
  body{
    margin-top: 80px;
  }
  .mrb10-m{
    margin-bottom: 10px;
  }
  .sub-heading-1-grey{
    font-size: 1.5rem;
  }
}
